<div class="element-search">
  <div>
    <label for="search-box">{{getFieldDisplayName(fieldName)}}</label>
    <input type="text" #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="{{getDisplayText('typeToSearch')}}" autocomplete="off">
  </div>
</div>
