<section class="element-filter-list">
  <div class="element-filter-list-heading-wrapper">
    <h4 class="element-filter-list-heading">{{getElementDisplayName(elementFullName)}}</h4>
  </div>
  <div class="element-filter-list-page-content">

    <div class="main-table-wrapper">
      <div class="main-table-section-wrapper">
        <table class="element-filter-list-table">
          <thead class="element-filter-list-thead">
          <tr class="element-filter-list-tr">
            <ng-container *ngFor="let fieldName of fieldsToBeDisplayed">
              <th class="element-filter-list-th">
                {{getFieldDisplayName(fieldName)}}
              </th>
            </ng-container>
          </tr>
          </thead>
          <tbody class="element-filter-list-tbody">
          <ng-container *ngFor="let timesheet of timesheets; trackBy: trackByExternalId">
            <tr class="element-filter-list-tr" (click)="selectItemFromFilterList(timesheet)">
              <ng-container *ngFor="let fieldName of fieldsToBeDisplayed">
                <td class="element-filter-list-td">
                  {{timesheet[fieldName]}}
                </td>
              </ng-container>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <app-pagination [paginationIn]="paginationIn"
                    [links]="links"
                    [page]="page"
                    (changePageEvent)="changePage($event)">
    </app-pagination>
  </div>

</section>



