<div class="ns-input__wrapper {{cssClass()}}">
  <div class="ns-input__header">
    <div class="ns-input">
      <label class="ns-input__label"
             for="{{dropdownIn}}_{{elementFullName}}">
        {{getDropdownLabel()}}
      </label>
      <div class="ns-input__question">
        <i class="fas fa-question-circle"></i>
      </div>
    </div>
    <div class="ns-input__label-optional" *ngIf="!required">{{getDisplayText('optional')}}</div>
  </div>
  <div class="ns-input__content">
    <div class="ns-input-group">
      <div class="ns-input"
           (click)="toggleDropdownOptions()">
        <input class="ns-input-group__text"
               (keyup)="handleDropdownOnKeyUp($event)"
               [value]="projectDropdownData.chosenItem ? projectDropdownData.chosenItem.name : ''"
               type="text"
               id="{{dropdownIn}}_{{elementFullName}}"
               name="{{elementName}}"
               [required]="required"
               autocomplete="off">
      </div>
      <div class="ns-input-group__append"
           *ngIf="projectDropdownData.chosenItem"
           (click)="clearInputField()">
        <i class="fas fa-times"></i>
      </div>
      <div class="ns-input-group__append"
           (click)="toggleDropdownOptions()">
        <i [classList]="projectDropdownData.isDropdownOptionsShown ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
      </div>
      <div class="ns-input-group__append"
           (click)="toggleFilterComponentForCurrentField()">
        <i class="fas fa-search"></i>
      </div>
    </div>
    <div class="ns-input-group__options-wrapper"
         [style]="projectDropdownData.isDropdownOptionsShown ? 'display: block' : 'display: none'">
      <div class="ns-input-group__options"
           *ngFor="let item of projectDropdownData.items; index as i"
           (click)="chooseADropdownOption(item)">
        <ng-container *ngIf="item.name">
          {{item.name}}
        </ng-container>
        <ng-container *ngIf="!item.name">
          {{item[searchBy]}}
        </ng-container>
      </div>
      <div class="ns-input-group__options last"
           *ngIf="projectDropdownData.items.length !== 0 && projectDropdownData.itemPage && projectDropdownData.itemPage.totalPages > 1"
           (click)="toggleFilterComponentForCurrentField()">
        {{getDisplayText('more')}}...
      </div>
      <div class="ns-input-group__options last"
           *ngIf="projectDropdownData.loading && projectDropdownData.items.length === 0">
        {{getDisplayText('loading')}}...
      </div>
      <div class="ns-input-group__options last"
           *ngIf="!projectDropdownData.loading && projectDropdownData.items.length === 0">
        {{getDisplayText('noItem')}}
      </div>
    </div>
  </div>
  <div class="ns-input__notification">
    <div class="ns-input__notification-info">more info about this field</div>
    <div class="ns-notification-input__wrapper ns-notification--danger">
      <div class="ns-notification__message">notification message</div>
      <div class="ns-notification__icon">
        <i class="fas fa-exclamation-triangle"></i>
      </div>
    </div>
  </div>
</div>
