@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
body {
  margin: 0;
  color: #3c3c3c;
  font-family: "Maven pro";
  font-size: 16px;
  font-size: 1rem;
  line-height: 19px;
  line-height: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5,
.font-size-uber,
.font-size-hero {
  color: #3c3c3c;
  font-family: "Maven pro";
  font-weight: 400;
  margin: 8px 0 0 0;
}

.font-size-uber {
  font-size: 83px;
  font-size: 5.1875rem;
  line-height: 100px;
  line-height: 6.225rem;
}

.font-size-hero {
  font-size: 69px;
  font-size: 4.3125rem;
  line-height: 83px;
  line-height: 5.175rem;
}

h1,
.h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 58px;
  line-height: 3.6rem;
}

h2,
.h2 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 48px;
  line-height: 3rem;
}

h3,
.h3 {
  font-size: 33px;
  font-size: 2.0625rem;
  line-height: 40px;
  line-height: 2.475rem;
}

h4,
.h4 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 34px;
  line-height: 2.1rem;
}

h5,
.h5 {
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 28px;
  line-height: 1.725rem;
}

.font-size-lead,
.font-size-small,
.font-size-caption,
.font-size-tiny {
  color: #3c3c3c;
  font-family: "Maven pro";
  margin: 16px 0 0 0;
}

.font-size-lead {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 23px;
  line-height: 1.425rem;
}

.font-size-small {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
}

.font-size-caption {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 13px;
  line-height: 0.825rem;
}

.font-size-tiny {
  font-size: 9px;
  font-size: 0.5625rem;
  line-height: 11px;
  line-height: 0.675rem;
}

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 19px;
  line-height: 1.2rem;
  margin: 16px 0 0 0;
}

blockquote {
  border-left: 1px solid #004369;
  margin: 16px 0 0 0;
  padding: 4px 0 4px 16px;
}
blockquote cite {
  color: #3c3c3c;
  display: block;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
}
blockquote cite:before {
  content: "- ";
}

figcaption {
  color: #3c3c3c;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 13px;
  line-height: 0.825rem;
  padding: 4px;
}

small,
.small {
  color: #3c3c3c;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
}

mark {
  background-color: #e6e6e6;
  color: #004369;
  padding: 0 8px;
}

hr {
  border: none;
  border-top: 1px solid #e6e6e6;
  height: 1px;
  margin: 16px 0;
}

::selection {
  background-color: #ccd9e1;
  color: #004369;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  font-smooth: antialiased;
  text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Remove inner padding and
 * border in Firefox 4+
 */
::-moz-focus-inner {
  border: none;
  padding: 0;
}

::-ms-expand {
  display: none;
}

::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

.ns-structure__container--2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-gap: 16px;
}

.ns-structure__container--3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  grid-gap: 16px;
}

.ns-structure__cell .cell--start {
  justify-self: start;
}
.ns-structure__cell .cell--center {
  justify-self: center;
}
.ns-structure__cell.cell--end {
  justify-self: end;
}

img {
  vertical-align: middle;
}

figure {
  margin: 0;
}

/* -----------------------------------------------------------------------------
	*Wednesday 19 Dec 2018 - Time: 10:21*
	Background
----------------------------------------------------------------------------- */
.ns-bg-light {
  background-color: #e6e6e6;
}

.ns-bg-lighter {
  background-color: #f3f3f3;
}

.ns-bg-primary {
  background-color: #004369;
}

.ns-bg-success {
  background-color: #32b400;
}

.ns-bg-warning {
  background-color: #f9b01e;
}

.ns-bg-danger {
  background-color: #da291c;
}

.ns-bg-white {
  background-color: white;
}

.ns-bg-black {
  background-color: black;
}

/* -----------------------------------------------------------------------------
	*Wednesday 19 Dec 2018 - Time: 09:57*
	Layout
----------------------------------------------------------------------------- */
.ns-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
  width: 100%;
}

.ns-viewport-vertical {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.ns-horizontal-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.ns-vertical-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.ns-no-scroll {
  overflow: hidden;
}

.ns-clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.ns-screen-reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

/* -----------------------------------------------------------------------------
	*Wednesday 19 Dec 2018 - Time: 09:36*
	Spacing
----------------------------------------------------------------------------- */
/* Margin
----------------------------------------------------------------------------- */
.ns-margin-xs {
  margin: 4px;
}

.ns-margin-sm {
  margin: 8px;
}

.ns-margin-md {
  margin: 16px;
}

.ns-margin-lg {
  margin: 24px;
}

.ns-margin-xl {
  margin: 32px;
}

.ns-margin-xxl {
  margin: 64px;
}

/* Margin-top
----------------------------------------------------------------------------- */
.ns-margin-top-xs {
  margin-top: 4px;
}

.ns-margin-top-sm {
  margin-top: 8px;
}

.ns-margin-top-md {
  margin-top: 16px;
}

.ns-margin-top-lg {
  margin-top: 24px;
}

.ns-margin-top-xl {
  margin-top: 32px;
}

.ns-margin-top-xxl {
  margin-top: 64px;
}

/* Margin-right
----------------------------------------------------------------------------- */
.ns-margin-right-xs {
  margin-right: 4px;
}

.ns-margin-right-sm {
  margin-right: 8px;
}

.ns-margin-right-md {
  margin-right: 16px;
}

.ns-margin-right-lg {
  margin-right: 24px;
}

.ns-margin-right-xl {
  margin-right: 32px;
}

.ns-margin-right-xxl {
  margin-right: 64px;
}

/* Margin-bottom
----------------------------------------------------------------------------- */
.ns-margin-bottom-xs {
  margin-bottom: 4px;
}

.ns-margin-bottom-sm {
  margin-bottom: 8px;
}

.ns-margin-bottom-md {
  margin-bottom: 16px;
}

.ns-margin-bottom-lg {
  margin-bottom: 24px;
}

.ns-margin-bottom-xl {
  margin-bottom: 32px;
}

.ns-margin-bottom-xxl {
  margin-bottom: 64px;
}

/* Margin-left
----------------------------------------------------------------------------- */
.ns-margin-left-xs {
  margin-left: 4px;
}

.ns-margin-left-sm {
  margin-left: 8px;
}

.ns-margin-left-md {
  margin-left: 16px;
}

.ns-margin-left-lg {
  margin-left: 24px;
}

.ns-margin-left-xl {
  margin-left: 32px;
}

.ns-margin-left-xxl {
  margin-left: 64px;
}

/* -----------------------------------------------------------------------------
	*Wednesday 19 Dec 2018 - Time: 07:50*
	Utilities Text
----------------------------------------------------------------------------- */
/* Text Style
----------------------------------------------------------------------------- */
.ns-text-bold {
  font-weight: 700;
}

.ns-text-italic {
  font-style: italic;
}

.ns-text-underline {
  text-decoration: underline;
}

/* Text alignment
----------------------------------------------------------------------------- */
.ns-text-left {
  text-align: left;
}

.ns-text-right {
  text-align: right;
}

.ns-text-center {
  text-align: center;
}

.ns-text-justify {
  text-align: justify;
}

/* Text transform
----------------------------------------------------------------------------- */
.ns-text-lowercase {
  text-transform: lowercase;
}

.ns-text-uppercase {
  text-transform: uppercase;
}

.ns-text-capitalize {
  text-transform: capitalize;
}

/* Text color
----------------------------------------------------------------------------- */
.ns-text-primary {
  color: #004369;
}

.ns-text-blue {
  color: #004369;
}

.ns-text-success {
  color: #32b400;
}

.ns-text-warning {
  color: #f9b01e;
}

.ns-text-danger {
  color: #da291c;
}

.ns-text-light {
  color: #cecece;
}

.ns-text-xlight {
  color: #e6e6e6;
}

/* Overflow
----------------------------------------------------------------------------- */
.ns-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Text accessibility
----------------------------------------------------------------------------- */
.ns-text-readable {
  max-width: 45rem;
}

.ns-button__datagrid, .ns-button,
.ns-button__negative,
.ns-button__outline,
.ns-button__transparent {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 12px 24px;
  min-width: 120px;
  user-select: none;
  transition-duration: 300ms;
  transition-property: color, background;
  transition-timing-function: ease;
}
@media screen and (max-width: 599px) {
  .ns-button__datagrid, .ns-button,
.ns-button__negative,
.ns-button__outline,
.ns-button__transparent {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }
}

.ns-button {
  background-color: #004369;
  color: white;
}
.ns-button:hover, .ns-button:active, .ns-button:focus {
  color: white;
  text-decoration: none;
  background-color: #296181;
}
.ns-button:focus {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
  outline: none;
}
.ns-button[disabled] {
  background-color: #a8a8a8;
  color: white;
  cursor: not-allowed;
}
.ns-button.ns-button--blue {
  background-color: #004369;
  color: white;
}
.ns-button.ns-button--blue:hover, .ns-button.ns-button--blue:active, .ns-button.ns-button--blue:focus {
  color: white;
  text-decoration: none;
  background-color: #296181;
}
.ns-button.ns-button--blue:focus {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
  outline: none;
}
.ns-button.ns-button--blue[disabled] {
  background-color: #a8a8a8;
  color: white;
  cursor: not-allowed;
}
.ns-button.ns-button--success {
  background-color: #32b400;
  color: white;
}
.ns-button.ns-button--success:hover, .ns-button.ns-button--success:active, .ns-button.ns-button--success:focus {
  color: white;
  text-decoration: none;
  background-color: #2a9700;
}
.ns-button.ns-button--success:focus {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
  outline: none;
}
.ns-button.ns-button--success[disabled] {
  background-color: #a8a8a8;
  color: white;
  cursor: not-allowed;
}
.ns-button.ns-button--warning {
  background-color: #f9b01e;
  color: white;
}
.ns-button.ns-button--warning:hover, .ns-button.ns-button--warning:active, .ns-button.ns-button--warning:focus {
  color: white;
  text-decoration: none;
  background-color: #d19419;
}
.ns-button.ns-button--warning:focus {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
  outline: none;
}
.ns-button.ns-button--warning[disabled] {
  background-color: #a8a8a8;
  color: white;
  cursor: not-allowed;
}
.ns-button.ns-button--danger {
  background-color: #da291c;
  color: white;
}
.ns-button.ns-button--danger:hover, .ns-button.ns-button--danger:active, .ns-button.ns-button--danger:focus {
  color: white;
  text-decoration: none;
  background-color: #b72218;
}
.ns-button.ns-button--danger:focus {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
  outline: none;
}
.ns-button.ns-button--danger[disabled] {
  background-color: #a8a8a8;
  color: white;
  cursor: not-allowed;
}
.ns-button.ns-button--info {
  background-color: #0064b4;
  color: white;
}
.ns-button.ns-button--info:hover, .ns-button.ns-button--info:active, .ns-button.ns-button--info:focus {
  color: white;
  text-decoration: none;
  background-color: #005497;
}
.ns-button.ns-button--info:focus {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
  outline: none;
}
.ns-button.ns-button--info[disabled] {
  background-color: #a8a8a8;
  color: white;
  cursor: not-allowed;
}
.ns-button.ns-button--submit {
  background-color: #004369;
  color: white;
}
.ns-button.ns-button--submit:hover, .ns-button.ns-button--submit:active, .ns-button.ns-button--submit:focus {
  color: white;
  text-decoration: none;
  background-color: #296181;
}
.ns-button.ns-button--submit:focus {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
  outline: none;
}
.ns-button.ns-button--submit[disabled] {
  background-color: #a8a8a8;
  color: white;
  cursor: not-allowed;
}
.ns-button.ns-button--cancel {
  background-color: white;
  color: #777777;
  border: 1px solid #cecece;
}
.ns-button.ns-button--cancel:hover, .ns-button.ns-button--cancel:active, .ns-button.ns-button--cancel:focus {
  color: #777777;
  text-decoration: none;
  background-color: #ebebeb;
}
.ns-button.ns-button--cancel:focus {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
  outline: none;
}
.ns-button.ns-button--cancel[disabled] {
  background-color: #a8a8a8;
  color: white;
  cursor: not-allowed;
}
.ns-button.ns-button--border {
  background-color: white;
  color: #777777;
  border: 1px solid #cecece;
}
.ns-button.ns-button--border:hover, .ns-button.ns-button--border:active, .ns-button.ns-button--border:focus {
  color: #777777;
  text-decoration: none;
  background-color: #ebebeb;
}
.ns-button.ns-button--border:focus {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
  outline: none;
}
.ns-button.ns-button--border[disabled] {
  background-color: #a8a8a8;
  color: white;
  cursor: not-allowed;
}

.ns-button--small {
  min-width: 24px;
  padding: 8px 16px;
}

.ns-button--small--x {
  min-width: 24px;
}

.ns-button__container--1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin-top: 16px;
}

.ns-button__container--2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-gap: 16px;
  margin-top: 16px;
}

.ns-button__cell {
  padding: 8px 0;
}
.ns-button__cell .cell--start {
  justify-self: start;
}
.ns-button__cell .cell--center {
  justify-self: center;
}
.ns-button__cell.cell--end {
  justify-self: end;
}

.ns-button__grid-cell {
  padding: 0;
}
.ns-button__grid-cell .cell--start {
  justify-self: start;
}
.ns-button__grid-cell .cell--center {
  justify-self: center;
}
.ns-button__grid-cell.cell--end {
  justify-self: end;
}

.ns-button__block {
  width: 100%;
}

.ns-button__inline {
  display: inline-block;
  margin-left: 8px;
}

.ns-button__datagrid {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 19px;
  line-height: 1.2rem;
  color: #99b4c3;
  padding: 4px 8px;
  margin-right: 8px;
  min-width: 16px;
  background-color: transparent;
}
.ns-button__datagrid:hover {
  background-color: #99b4c3;
  color: #004369;
  border-radius: 8px;
}

a {
  text-decoration: none;
  padding: 0 0 4px 0;
  transition: color 300ms ease, border-color 300ms ease;
}

a {
  color: rgba(0, 67, 105, 0.72);
}
a:hover, a:active, a:focus {
  color: #004369;
}
a:focus {
  outline: none;
}
a.ns-link--success {
  color: rgba(50, 180, 0, 0.72);
}
a.ns-link--success:hover, a.ns-link--success:active, a.ns-link--success:focus {
  color: #32b400;
}
a.ns-link--success:focus {
  outline: none;
}
a.ns-link--warning {
  color: rgba(249, 176, 30, 0.72);
}
a.ns-link--warning:hover, a.ns-link--warning:active, a.ns-link--warning:focus {
  color: #f9b01e;
}
a.ns-link--warning:focus {
  outline: none;
}
a.ns-link--danger {
  color: rgba(218, 41, 28, 0.72);
}
a.ns-link--danger:hover, a.ns-link--danger:active, a.ns-link--danger:focus {
  color: #da291c;
}
a.ns-link--danger:focus {
  outline: none;
}
a.ns-link--info {
  color: rgba(0, 100, 180, 0.72);
}
a.ns-link--info:hover, a.ns-link--info:active, a.ns-link--info:focus {
  color: #0064b4;
}
a.ns-link--info:focus {
  outline: none;
}

.ns-notification {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: auto;
  padding: 16px;
  margin: 24px 0;
  border-radius: 8px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 19px;
  line-height: 1.2rem;
}

.ns-notification__message {
  grid-column: 1;
  justify-self: start;
}

.ns-notification__icon {
  grid-column: 2;
  justify-self: end;
}

.ns-notification--danger {
  background-color: rgba(218, 41, 28, 0.16);
  border: 1px solid rgba(218, 41, 28, 0.16);
  color: #da291c;
}

.ns-notification--warning {
  background-color: rgba(249, 176, 30, 0.16);
  border: 1px solid rgba(249, 176, 30, 0.16);
  color: #f9b01e;
}

.ns-notification--success {
  background-color: rgba(50, 180, 0, 0.16);
  border: 1px solid rgba(50, 180, 0, 0.16);
  color: #32b400;
}

.ns-notification--info {
  background-color: rgba(0, 100, 180, 0.16);
  border: 1px solid rgba(0, 100, 180, 0.16);
  color: #0064b4;
}

.ns-notification-input__wrapper {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: auto;
  padding: 8px 16px;
  margin: 8px 0;
  border-radius: 8px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 19px;
  line-height: 1.2rem;
}

button,
input,
input[type=search],
select,
textarea {
  appearance: none;
  font: inherit;
  margin: 0;
}
button:focus,
input:focus,
input[type=search]:focus,
select:focus,
textarea:focus {
  outline: none;
}

.ns-input {
  position: relative;
}
.ns-input small {
  display: block;
  margin: 4px 0;
  text-align: left;
}
.ns-input input,
.ns-input select,
.ns-input textarea {
  line-height: normal;
  transition: border-color 300ms ease;
  width: 100%;
}
.ns-input input {
  min-height: 48px;
  padding: 0 16px;
}
.ns-input select {
  min-height: 48px;
  padding: 4px 16px;
}
.ns-input textarea {
  min-height: 12rem;
  padding: 8px 16px;
  resize: vertical;
}

.ns-input {
  width: 100%;
}

.ns-input__wrapper {
  display: flex;
  flex-direction: column;
}

.ns-input__header {
  display: grid;
  grid-template-columns: auto 80px;
  grid-template-rows: auto;
  padding-top: 8px;
}

.ns-input__content {
  padding: 4px 0;
  position: relative;
}

.ns-input__notification {
  margin: 4px 0 16px 0;
}

.ns-input__notification-info {
  background-color: #f3f3f3;
  color: #777777;
  border-radius: 8px;
  padding: 8px 16px;
}

.ns-input__question {
  display: inline-block;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
  color: #99b4c3;
  margin: 0 8px;
  cursor: pointer;
}

.ns-input__text {
  color: #3c3c3c;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}
.ns-input__text:active, .ns-input__text:focus {
  border: 1px solid #777777;
  outline: none;
}

.ns-input__label {
  display: inline-block;
  margin: 0;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  color: #336987;
}

.ns-input__label-optional {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 13px;
  line-height: 0.825rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
}

.ns-input__help {
  display: inline-block;
  margin: 4px 0 16px 0;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
  font-weight: 400;
  text-align: left;
  color: #777777;
}

.ns-input-group {
  display: flex;
  flex-direction: row;
}

.ns-input-group__text {
  flex-basis: 60%;
  color: #3c3c3c;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-right: none;
  border-radius: 8px 0 0 8px;
}
.ns-input-group__text:active, .ns-input-group__text:focus {
  border: 1px solid #b5b5b5;
  outline: none;
}

.ns-input-group__append {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border: 1px solid #e6e6e6;
  border-right: none;
  padding: 0 20px;
  cursor: pointer;
}
.ns-input-group__append:last-child {
  border: 1px solid #e6e6e6;
  border-radius: 0 8px 8px 0;
}

.ns-input-group__options-wrapper {
  position: absolute;
  width: max-content;
  min-width: 100%;
  max-height: 175px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  z-index: 2;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
}

.ns-input-group__options {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
}
.ns-input-group__options:hover {
  background-color: #e6e9ef;
}
.ns-input-group__options.last {
  font-style: italic;
}

.ns-input-group__clear {
  margin-top: 6px;
  height: 35px;
  display: flex;
  padding-right: 10px;
  align-items: center;
  cursor: pointer;
  color: #e6e9ef;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.ns-input-group__clear:hover {
  background-color: #e6e9ef;
}

fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 24px;
  min-width: 0;
}

legend {
  width: 100%;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 23px;
  line-height: 1.425rem;
  font-weight: 500;
  color: #004369;
  padding: 16px 0;
  border-bottom: 1px solid #e6e6e6;
}

.ns-form {
  margin: 0;
  padding: 0;
}

.ns-form__wrapper {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.ns-form-element__title {
  padding: 8px 0;
  font-weight: 700;
}

.ns-form-element__wrapper {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: auto;
  grid-gap: 16px;
}

.ns-form-element__sidebar {
  background-color: #e6ecf0;
  color: #004369;
  border-radius: 8px;
}

.ns-form-element__content {
  padding: 0;
}

.ns-form-element__icon {
  padding: 8px;
  text-align: center;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 34px;
  line-height: 2.1rem;
}

.ns-input__radio,
.ns-input__checkbox {
  display: block;
}
.ns-input__radio:not(:last-child),
.ns-input__checkbox:not(:last-child) {
  margin-bottom: 4px;
}

.ns-input--inline {
  margin: 8px 0;
  padding: 8px 16px;
  line-height: 24px;
}
.ns-input--inline .ns-input__radio,
.ns-input--inline .ns-input__checkbox {
  display: inline-block;
}

.ns-input__radio,
.ns-input__checkbox {
  display: block;
  position: relative;
  padding: 0 16px 0 0;
}

.ns-input--option {
  padding-top: 8px;
  color: #004369;
}

.line {
  border: 0;
  border-bottom: 1px solid #cecece;
  margin: 40px 0 24px 0;
}

.line--blue {
  border-bottom: 1px solid #99b4c3;
}

.ns-table {
  width: 100%;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  border-radius: 8px;
}
.ns-table thead {
  background-color: #f3f3f3;
}
.ns-table thead tr:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.ns-table tr {
  border-bottom: 1px solid #e6e6e6;
  height: 24px;
  transition: background-color 300ms ease;
}
.ns-table tr:hover {
  background-color: #e6ecf0;
  cursor: pointer;
}
.ns-table th {
  padding: 8px;
  padding-top: 16px;
}
.ns-table td {
  padding: 8px;
}

/* -----------------------------------------------------------------------------
  *Tuesday 18 Dec 2018 - Time: 14:38*
	Badge
----------------------------------------------------------------------------- */
.ns-badge {
  display: inline-block;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  max-height: 21px;
  padding: 4px;
  background-color: #cecece;
  color: #3c3c3c;
  border-radius: 4px;
}

/* Badge colors
----------------------------------------------------------------------------- */
.ns-badge.ns-badge--primary {
  color: white;
  background-color: #004369;
}
.ns-badge.ns-badge--secondary {
  color: white;
  background-color: #920030;
}
.ns-badge.ns-badge--blue {
  color: white;
  background-color: #004369;
}
.ns-badge.ns-badge--success {
  color: white;
  background-color: #32b400;
}
.ns-badge.ns-badge--info {
  color: white;
  background-color: #0064b4;
}
.ns-badge.ns-badge--warning {
  color: white;
  background-color: #f9b01e;
}
.ns-badge.ns-badge--danger {
  color: white;
  background-color: #da291c;
}
.ns-badge.ns-badge--black {
  color: white;
  background-color: black;
}
.ns-badge.ns-badge--white {
  color: #777777;
  background-color: white;
}
.ns-badge.ns-badge--lgrey {
  color: #cecece;
  background-color: #f3f3f3;
}

.d-none {
  display: none;
}

.element-workspace {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  background-color: #004369;
}
.element-workspace .element-workspace-page {
  flex: 1;
  overflow-x: hidden;
  background-color: #e6ecf0;
  display: flex;
  flex-direction: column;
}
.element-workspace .element-workspace-page-content {
  flex: 1;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-top: 1px solid #e6e6e6;
  padding: 16px 24px;
}

.app-page-footer {
  color: #3c3c3c;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
}

.app-header {
  height: 100%;
  color: white;
  position: relative;
  transition: all 0.3s ease-in-out;
  /* ----- COLLAPSE EXPAND  ----- */
  /* ----- APP HEADER CONTENT ----- */
  /* ----- LEFT CONTENT ----- */
}
.app-header .header {
  width: 320px;
  min-height: 100%;
}
.app-header .header-collapse {
  width: 80px;
  min-height: 100%;
}
.app-header .header-collapse .header-navbar-component {
  visibility: hidden;
}
.app-header .collapse-expand-button-wrapper {
  position: absolute;
  top: 104px;
  right: -15px;
  height: 32px;
  width: 32px;
  padding: 7px 8px;
  color: #336987;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.app-header .collapse-expand-button-wrapper:hover {
  color: #336987;
  background-color: #ccd9e1;
}
.app-header .header-content-wrapper {
  width: 100%;
  height: 100%;
}
.app-header .header-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app-header .header-content-left {
  display: flex;
  flex-direction: column;
}
.app-header .header-company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  cursor: pointer;
}
.app-header .header-company-logo-image-wrapper {
  width: 60%;
}
.app-header .header-company-logo-image-wrapper img {
  max-width: 100%;
}
.app-header .header-navbar {
  width: 100%;
  position: relative;
}

.app-page-header {
  position: relative;
  background-color: white;
  border-bottom: 1px solid #ccd9e1;
  box-shadow: 0 10px 30px 0 rgba(204, 217, 225, 0.08);
  /*  buttons  */
}
.app-page-header .header-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 64px 56px;
  background-color: white;
}
.app-page-header .header-pagetitle {
  grid-column: 1;
  grid-row: 1;
  height: 64px;
  border-bottom: 1px solid #e6e6e6;
}
.app-page-header .header-topbar {
  grid-column: 2;
  grid-row: 1;
  height: 64px;
  border-bottom: 1px solid #e6e6e6;
}
.app-page-header .header-breadcrumbs {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
}
.app-page-header .header-toolbar {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
}
.app-page-header .pagetitle {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 23px;
  line-height: 1.425rem;
  font-weight: 700;
  margin-top: 24px;
  margin-left: 24px;
}
.app-page-header .topbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 12px;
  margin-right: 24px;
}
.app-page-header .language {
  padding-right: 24px;
  display: flex;
  align-items: center;
}
.app-page-header .language .app-header-language {
  padding: 0 4px;
  color: #99b4c3;
  cursor: pointer;
}
.app-page-header .language .app-header-language:hover {
  color: #336987;
}
.app-page-header .language .app-header-language-active {
  color: #004369;
  font-weight: 700;
  background-color: #e6ecf0;
  border-radius: 8px;
  padding: 8px;
  margin: 0 4px;
}
.app-page-header .breadcrumbs {
  margin-top: 8px;
  margin-left: 24px;
}
.app-page-header .breadcrumbs-item {
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease;
}
.app-page-header .breadcrumbs-text {
  color: #b5b5b5;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s ease;
}
.app-page-header .breadcrumbs-text:hover {
  color: #004369;
}
.app-page-header .breadcrumbs-text-active {
  color: #004369;
  font-weight: 700;
}
.app-page-header .breadcrumbs-item-separator {
  display: inline-block;
  padding: 0 8px;
}
.app-page-header .app-header-button {
  width: 100%;
}
.app-page-header .app-header-button-icon-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.app-page-header .app-header-button-icon-wrapper:hover {
  transition: all 300ms ease-in-out;
  background-color: #e6e9ef;
}
.app-page-header .app-header-user-avatar-image-wrapper,
.app-page-header .app-header-user-not-login {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #f4e6ea;
  color: #920030;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.app-page-header .app-header-user-not-login {
  background-color: #f3f3f3;
  color: #777777;
  font-weight: 700;
}
.app-page-header .app-header-user-avatar-image-wrapper:hover,
.app-page-header .app-header-user-not-login:hover {
  background-color: #e9ccd6;
  color: #920030;
  font-weight: 700;
}
.app-page-header .app-header-user-menu,
.app-page-header .user-menu {
  display: none;
  position: absolute;
  right: 24px;
  top: 56px;
  min-width: 320px;
  padding: 16px;
  background-color: white;
  color: #3c3c3c;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 1000;
}
.app-page-header .user-menu-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
  border-bottom: 1px solid #e6e6e6;
}
.app-page-header .user-menu-icon {
  height: 4rem;
  width: 4rem;
  margin-right: 16px;
}
.app-page-header .user-menu-name {
  flex-grow: 2;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 23px;
  line-height: 1.425rem;
  font-weight: 700;
  color: #3c3c3c;
  padding: 8px;
}
.app-page-header .user-title {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #b5b5b5;
  margin-top: 8px;
}
.app-page-header .user-menu-logo {
  height: 100%;
  width: 100%;
  background: url("src/assets/images/logo-2.png") no-repeat;
  background-size: 100% 100%;
}
.app-page-header .user-menu-content {
  padding-top: 16px;
}
.app-page-header .user-menu-content-item {
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
}
.app-page-header .user-menu-content-icon {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 23px;
  line-height: 1.425rem;
  text-align: center;
  margin-right: 16px;
}
.app-page-header .user-menu-content-item:hover {
  background-color: #f3f3f3;
}

aside {
  padding: 4px;
}

.element-list {
  width: 100%;
  min-height: 100%;
}

.element-list__content {
  margin: 32px 16px 24px 24px;
}

.element-list__filter {
  position: relative;
  margin: 32px 16px;
}

.element-list__wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ccd9e1;
  padding: 24px;
}

.element-detail {
  width: 100%;
  min-height: 100%;
  min-width: 1300px;
  display: flex;
  flex-direction: column;
  /* ----- PAGE CONTENT ----- */
  /* ----- TABS ----- */
  /* ----- MAIN TABLE ----- */
  /*  Header  */
  /*  Action buttons  */
  /*  Table  */
  /*  Custom columns  */
  /*  Status  */
  /* ----- LINKS ----- */
}
.element-detail .element-detail-page-content {
  flex: 100%;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: minmax(0, 7fr) minmax(0, 3fr);
}
.element-detail .element-detail-tabs-wrapper {
  max-width: 100%;
  position: relative;
}
.element-detail .element-detail-arrow {
  cursor: pointer;
  display: block;
  text-decoration: none;
  position: absolute;
  z-index: 3;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
}
.element-detail .element-detail-leftArrow {
  left: 0;
  margin-left: 5px;
  padding-right: 20px;
}
.element-detail .element-detail-rightArrow {
  right: 0;
  margin-right: 5px;
  padding-left: 20px;
}
.element-detail .element-detail-tab {
  margin: 0 15px;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
}
.element-detail .element-detail-tab-buttons {
  margin-left: 0;
  transition: all 0.3s linear;
  display: inline-block;
  white-space: nowrap;
  margin-bottom: -1px;
}
.element-detail .element-detail-tab-links {
  box-sizing: border-box;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}
.element-detail .active {
  color: #767676;
  border-bottom-color: #cccccc;
}
.element-detail .active:hover {
  color: #767676;
}
.element-detail .element-detail-main-table-wrapper {
  padding: 20px;
  /*flex: 30%;*/
  min-width: 400px;
  max-width: 600px;
  min-height: 100%;
}
.element-detail .element-detail-main-table-header {
  width: 100%;
  box-sizing: border-box;
  /*padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;*/
  border-bottom: 4px solid transparent;
  border-bottom: 1px solid #cccccc;
}
.element-detail .element-detail-main-table-header h3 {
  font-size: 1.2rem;
}
.element-detail .element-detail-action-button-wrapper {
  display: flex;
}
.element-detail .element-detail-action-button-icon-wrapper {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #e6e9ef;
  cursor: pointer;
}
.element-detail .element-detail-action-button-icon-wrapper:hover {
  color: #767676;
}
.element-detail .element-detail-button-inside-action-menu {
  border: none;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
}
.element-detail .element-detail-table-wrapper {
  padding: 20px;
}
.element-detail .element-detail-table {
  width: 100%;
}
.element-detail .element-detail-th,
.element-detail .element-detail-td {
  text-align: left;
  color: #666666;
  background-color: #f5f6f8;
  padding: 2px 10px;
}
.element-detail .element-detail-status-open {
  background-color: #00c875;
  color: #ffffff;
}
.element-detail a {
  color: #1f76c2;
  text-decoration: none;
}
.element-detail a:hover {
  color: #0085ff;
}

.app-login {
  background: url("src/assets/images/bg.jpg") no-repeat;
  background-size: cover;
}

.page-content {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  justify-items: end;
  min-height: 100vh;
}

.login-panel {
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
}

.app-login-error {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 80px 0;
}

.logo {
  width: 40%;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-form {
  width: 80%;
  border-radius: 10px;
}

.input-wrapper {
  display: grid;
  grid-template-columns: 64px auto;
  grid-template-rows: auto;
  grid-gap: 8px;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 16px;
}

.input-wrapper .icon {
  grid-column-start: 1;
  background-color: #ccd9e1;
  color: #336987;
  border-radius: 8px 0 0 8px;
  padding: 16px;
  text-align: center;
}

.input-wrapper .field {
  grid-column-start: 2;
}

.field input {
  width: 100%;
  border: 0;
  font-family: "Maven pro";
  font-size: 16px;
  font-size: 1rem;
  line-height: 19px;
  line-height: 1.2rem;
}
.field input:focus {
  outline: none;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.link {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto;
  grid-gap: 8px;
  width: 80%;
  background-color: #00273d;
  border-radius: 8px;
  margin: 8px 0;
}

.link-image {
  grid-column-start: 1;
  padding: 16px;
}

.link-text {
  grid-column-start: 2;
  justify-self: start;
  align-self: center;
}
.link-text div {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
}

.app-nav {
  width: 100%;
  padding: 24px;
  /* ----- NAV ITEMS ----- */
  /* On mouse-over */
  /* Dropdown container (hidden by default) */
  /* Optional: Style the caret down icon */
}
.app-nav .sidenav {
  overflow-x: hidden;
}
.app-nav .dropdown-btn {
  width: 100%;
  color: #ccd9e1;
  background-color: #00395e;
  font-size: 16px;
  font-size: 1rem;
  line-height: 19px;
  line-height: 1.2rem;
  text-align: left;
  padding: 16px;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
}
.app-nav .dropdown-btn:hover {
  transition: all 300ms ease-in-out;
  background-color: #003151;
}
.app-nav .dropdown-active {
  background-color: #00395e;
}
.app-nav .dropdown-container {
  display: none;
  background-color: #00395e;
}
.app-nav .dropdown-container a {
  display: block;
  color: #99b4c3;
  padding: 16px;
  margin-bottom: 4px;
  text-decoration: none;
  font-size: 16px;
  font-size: 1rem;
  line-height: 19px;
  line-height: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}
.app-nav .dropdown-container a:hover {
  transition: all 300ms ease-in-out;
  background-color: #002945;
  color: white;
}
.app-nav .dropdown-container .nav-link-active {
  background-color: #002945;
  color: white;
  font-weight: 700;
}
.app-nav .link-title {
  padding-left: 5px;
}
.app-nav .fa-caret-down-wrapper {
  float: right;
  padding-right: 4px;
}

.app-page-not-found {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #383838));
  background: linear-gradient(to right, white 50%, #383838 50%);
  line-height: 1.5;
  color: white;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-edge.png"), auto;
}
.app-page-not-found .page-not-found {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
  max-width: 1000px;
  width: calc(100% - 4rem);
  margin: 0 auto;
}
.app-page-not-found .page-not-found > * {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  padding: 2.5rem;
}
.app-page-not-found aside {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/right-edges.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 25px 100%;
}
.app-page-not-found aside img {
  display: block;
  height: auto;
  width: 100%;
}
.app-page-not-found main {
  text-align: center;
}
.app-page-not-found main h1 {
  font-family: "Fontdiner Swanky", cursive;
  font-size: 4rem;
  color: #c5dc50;
  margin-bottom: 1rem;
}
.app-page-not-found main p {
  margin-bottom: 2.5rem;
}
.app-page-not-found main p em {
  font-style: italic;
  color: #c5dc50;
}
.app-page-not-found main a {
  font-family: "Fontdiner Swanky", cursive;
  font-size: 1rem;
  color: #383838;
  border: none;
  background-color: #f36a6f;
  padding: 1rem 2.5rem;
  -webkit-transform: skew(-5deg);
  transform: skew(-5deg);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-eye.png"), auto;
}
.app-page-not-found main a:hover {
  background-color: #c5dc50;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

@media (max-width: 700px) {
  .app-page-not-found {
    background: #383838;
    font-size: 16px;
  }
  .app-page-not-found .page-not-found {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
  }
  .app-page-not-found .page-not-found > * {
    max-width: 700px;
    min-height: 100%;
  }
  .app-page-not-found aside {
    background-image: none;
    background-color: white;
  }
  .app-page-not-found aside img {
    max-width: 300px;
  }
}
.sidebar-filter {
  background-color: white;
  border: 1px solid #ccd9e1;
  border-radius: 8px;
  padding: 16px;
}

.filter-title {
  margin-bottom: 16px;
  padding: 0 0 8px 0;
  border-bottom: 1px solid #e6e6e6;
}

.filter-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
  margin-top: 8px;
}

.filter-breadcrumbs-item {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease;
}

.filter-breadcrumbs-text {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s ease;
}
.filter-breadcrumbs-text:active {
  color: #004369;
}

.filter-breadcrumbs-seperator {
  padding: 16px 0;
}

.cp-alert {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: auto;
  width: max-content;
  min-width: 1200px;
  padding: 16px;
  margin-left: -600px;
  border-radius: 8px;
  z-index: 110;
}

.cp-alert__container {
  position: absolute;
  left: 50%;
}

.cp-alert__message {
  grid-column: 1;
  justify-self: start;
}

.cp-alert__icon {
  grid-column: 2;
  justify-self: end;
}

.cp-alert__close {
  float: right;
  cursor: pointer;
  font-size: 16px;
  font-size: 1rem;
  line-height: 19px;
  line-height: 1.2rem;
}

.cp-alert--danger {
  background-color: #fbe5e4;
  border: 1px solid #fbe5e4;
  color: #da291c;
}
.cp-alert--danger .cp-alert__close i {
  color: #da291c;
}

.cp-alert--warning {
  background-color: #fef6e4;
  border: 1px solid #fef6e4;
  color: #f9b01e;
}
.cp-alert--warning .cp-alert__close i {
  color: #f9b01e;
}

.cp-alert--success {
  background-color: #e6f6e0;
  border: 1px solid #e6f6e0;
  color: #32b400;
}
.cp-alert--success .cp-alert__close i {
  color: #32b400;
}

.cp-alert--info {
  background-color: #e0ecf6;
  border: 1px solid #e0ecf6;
  color: #0064b4;
}
.cp-alert--info .cp-alert__close i {
  color: #0064b4;
}

.ns-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ns-dialog__wrapper {
  min-width: 400px;
  padding: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.ns-dialog__header {
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 24px;
  color: #da291c;
  text-align: center;
}
.ns-dialog__header i {
  font-size: 33px;
  font-size: 2.0625rem;
  line-height: 40px;
  line-height: 2.475rem;
}

.ns-dialog__content {
  padding: 32px;
  text-align: center;
}

.ns-dialog__title {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 23px;
  line-height: 1.425rem;
  font-weight: 600;
  margin-top: 8px;
}

.element-filter {
  /* ----- FORM ----- */
  /* ----- CUSTOM FORM STYLE FOR FILTER ONLY ----- */
}
.element-filter .element-filter-options-wrapper {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.element-filter .element-filter-option-wrapper {
  cursor: pointer;
  flex-basis: 50%;
}
.element-filter .element-filter-options-wrapper > div {
  padding: 0 20px 10px 20px;
}
.element-filter .element-filter-option-wrapper:hover i {
  color: #0085ff;
}
.element-filter .element-filter-option {
  white-space: nowrap;
}
.element-filter .element-filter-form-supports-wrapper {
  flex: 60%;
  padding: 10px;
}
.element-filter .element-filter-clear-input {
  margin-top: 6px;
  height: 35px;
  display: flex;
  padding-right: 10px;
  align-items: center;
  cursor: pointer;
  color: #e6e9ef;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.element-filter .element-filter-clear-input:hover {
  color: #767676;
}
.element-filter .element-filter-input-append:hover {
  background-color: #e6e9ef;
}

.cp-datagrid__container {
  overflow-x: auto;
  margin: 16px 0;
}

.cp-datagrid__th,
.cp-datagrid__th__checkbox {
  position: relative;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
  text-transform: uppercase;
  text-align: left;
  color: #b5b5b5;
  cursor: default;
}

.cp-datagrid__th__checkbox {
  font-size: 16px;
  font-size: 1rem;
  line-height: 19px;
  line-height: 1.2rem;
}

.cp-datagrid__th__checkbox i {
  cursor: pointer;
}

.cp-datagrid__td {
  color: #3c3c3c;
  font-size: 16px;
  font-size: 1rem;
  line-height: 19px;
  line-height: 1.2rem;
}

.cp-datagrid__td__checkbox {
  color: #cecece;
}

.cp-datagrid__td__checkbox i {
  cursor: pointer;
}

/*.d-block i {
  display: block;
}*/
/*.element-list-button-inside-action-menu {
  border: none;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
}*/
.cp-datagrid__controls {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-gap: 16px;
}

.cp-datagrid__controls-cell {
  margin: 0;
}
.cp-datagrid__controls-cell .cell--start {
  justify-self: start;
  align-self: center;
}
.cp-datagrid__controls-cell .cell--center {
  justify-self: center;
  align-self: center;
}
.cp-datagrid__controls-cell.cell--end {
  justify-self: end;
  align-self: center;
}

/*  Sub items icons  */
.element-list-subitem {
  cursor: pointer;
}

.element-list-subitem-title {
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
  border-bottom: 4px solid #0085ff;
}

.element-list-subitem:hover {
  color: #0085ff;
}

.element-list-no-subitem {
  color: #cccccc;
}

.cp-datagrid-controls {
  display: flex;
  flex-direction: row;
}

.cp-datagrid-controls__wrapper {
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;
  color: #3c3c3c;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0 8px;
}
.cp-datagrid-controls__wrapper:hover {
  background-color: #e6e6e6;
}

.cp-datagrid-controls__dropdown-wrapper {
  position: relative;
}

.page-size__text i {
  margin-left: 8px;
}

.cp-datagrid__dropdown {
  position: absolute;
  top: 30px;
  left: -16px;
  width: 200px;
  border: 1px solid #cecece;
  border-radius: 5px;
  background-color: white;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
  z-index: 2;
}
.cp-datagrid__dropdown.page-size {
  width: 80px;
}

.cp-datagrid__dropdown-item {
  display: flex;
  flex-direction: row;
  padding: 4px 8px;
  cursor: pointer;
}
.cp-datagrid__dropdown-item:hover {
  background-color: #e6ecf0;
}
.cp-datagrid__dropdown-item i {
  margin-right: 8px;
  padding: 8px 4px;
}
.cp-datagrid__dropdown-item .field {
  padding: 4px 8px;
}

.cp-pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cp-pagination__statistics {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
  font-weight: 500;
  color: #777777;
  text-transform: uppercase;
  margin: 8px 24px;
}

.cp-pagination__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cp-pagination__first, .cp-pagination__first--inactive,
.cp-pagination__last--inactive,
.cp-pagination__previous--inactive,
.cp-pagination__last,
.cp-pagination__previous,
.cp-pagination__next {
  width: 32px;
  height: 32px;
  min-width: 24px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  text-align: center;
  background-color: #e6e6e6;
  color: #777777;
  border-radius: 8px;
  margin: 0 4px;
  padding: 8px;
}
.cp-pagination__first:hover, .cp-pagination__first--inactive:hover,
.cp-pagination__last--inactive:hover,
.cp-pagination__previous--inactive:hover,
.cp-pagination__last:hover,
.cp-pagination__previous:hover,
.cp-pagination__next:hover {
  background-color: #004369;
  color: white;
}

.cp-pagination__first--inactive,
.cp-pagination__last--inactive,
.cp-pagination__previous--inactive,
.cp-pagination__previous--inactive {
  background-color: #f3f3f3;
  color: #cecece;
}
.cp-pagination__first--inactive:hover,
.cp-pagination__last--inactive:hover,
.cp-pagination__previous--inactive:hover,
.cp-pagination__previous--inactive:hover {
  background-color: #f3f3f3;
  color: #cecece;
}

.cp-pagination__info {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 0.975rem;
  font-weight: 500;
  color: #777777;
  text-transform: uppercase;
  margin: 8px;
}

.sort-button-wrapper {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
  cursor: pointer;
  position: absolute;
  font-size: 13px;
  top: -10px;
  left: calc(50% - 10px);
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.clear-sort-button {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
  font-size: 0.7rem;
  position: absolute;
  top: -10px;
  z-index: 3;
  background: #ffffff;
  border-radius: 20px;
  left: calc(50% + 10px);
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.sort-button-wrapper:hover,
.sort-button-wrapper-active,
.clear-sort-button:hover {
  color: #ffffff;
  background-color: #0085ff;
}

th:hover .clear-sort-button {
  visibility: visible;
}

/*
.element-detail {
  width: 100%;
  min-height: 100%;
  min-width: 1300px;
  display: flex;
  flex-direction: column;
}
!* ----- PAGE CONTENT ----- *!

.element-detail-page-content {
  flex: 100%;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: minmax(0, 7fr) minmax(0, 3fr);
}
*/
/* ----- TABS ----- */
.ns-tabs__wrapper {
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 24px 32px;
}

.ns-tabs__arrow {
  cursor: pointer;
  display: block;
  text-decoration: none;
  position: absolute;
  top: 24px;
  z-index: 30;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.85);
}

.ns-tabs__left-arrow {
  left: 16px;
  margin-left: 4px;
  padding-right: 24px;
}

.ns-tabs__right-arrow {
  right: 16px;
  margin-right: 4px;
  padding-left: 24px;
}

.ns-tabs__container {
  margin: 0 16px;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}

.ns-tabs__container-buttons {
  display: inline-block;
  margin-left: 0;
  transition: all 0.3s linear;
  white-space: nowrap;
  margin-bottom: -1px;
}

.ns-tabs__links {
  box-sizing: border-box;
  padding: 8px 16px 24px 16px;
  display: inline-block;
  cursor: pointer;
  color: #b5b5b5;
  border-bottom: 2px solid transparent;
}

.active {
  color: #004369;
  border-bottom-color: #004369;
}

.active:hover {
  color: #02abfe;
  border-bottom-color: #02abfe;
}

/* ----- MAIN TABLE ----- */
/*
.element-detail-main-table-wrapper {
  padding: 20px;
  !*flex: 30%;*!
  min-width: 400px;
  max-width: 600px;
  min-height: 100%;
}

!*  Header  *!

.element-detail-main-table-header {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  border-bottom: 1px solid #cccccc;
}

.element-detail-main-table-header h3 {
  font-size: 1.2rem;
}

!*  Action buttons  *!

.element-detail-action-button-wrapper {
  display: flex;
}

.element-detail-action-button-icon-wrapper {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #e6e9ef;
  cursor: pointer;
}

.element-detail-action-button-icon-wrapper:hover {
  color: #767676;
}

.element-detail-button-inside-action-menu {
  border: none;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
}

!*  Table  *!

.element-detail-table-wrapper {
  padding: 20px;
}

.element-detail-table {
  width: 100%;
}

.element-detail-th,
.element-detail-td {
  text-align: left;
  color: #666666;
  background-color: #f5f6f8;
  padding: 2px 10px;
}

!*  Custom columns  *!

!*  Status  *!

.element-detail-status-open {
  background-color: #00c875;
  color: #ffffff;
}

!* ----- LINKS ----- *!

a {
  color: #1f76c2;
  text-decoration: none;
}

a:hover {
  color: #0085ff;
}
*/
/* Tooltip container */
.tooltip {
  position: relative;
  /* Tooltip text */
  /* Tooltip arrow */
  /* Show the tooltip text when you mouse over the tooltip container */
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.8rem;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
