// * -----------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------- */

// * Body
// ----------------------------------------------------------------------------- */
body {
  margin: 0;

  color: $text-color;
  font-family: $font-family-base;

  @include font-size($font-size-body);
}

// * Headers
// ----------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5,
.font-size-uber,
.font-size-hero {
  color: $text-color;
  font-family: $font-family-headings;
  font-weight: $normal;

  margin: $spacer-sm 0 0 0;
}

.font-size-uber {
  @include font-size($font-size-uber);
}

.font-size-hero {
  @include font-size($font-size-hero);
}

h1,
.h1 {
  @include font-size($font-size-h1);
}

h2,
.h2 {
  @include font-size($font-size-h2);
}

h3,
.h3 {
  @include font-size($font-size-h3);
}

h4,
.h4 {
  @include font-size($font-size-h4);
}

h5,
.h5 {
  @include font-size($font-size-h5);
}

// * Types
// ----------------------------------------------------------------------------- */
.font-size-lead,
.font-size-small,
.font-size-caption,
.font-size-tiny {
  color: $text-color;
  font-family: $font-family-base;

  margin: $spacer-stack-md;
}

.font-size-lead {
  @include font-size($font-size-lead);
}

.font-size-small {
  @include font-size($font-size-small);
}

.font-size-caption {
  @include font-size($font-size-caption);
}

.font-size-tiny {
  @include font-size($font-size-tiny);
}

// * Paragraps
// ----------------------------------------------------------------------------- */
p {
  @include font-size($font-size-body);
  margin: $spacer-stack-md;
}

// p + p {
//   text-indent: $spacer-md;
//   margin: 0;
// }

// * Blockquote
// ----------------------------------------------------------------------------- */
blockquote {
  border-left: 1px solid $primary;
  margin: $spacer-stack-md;
  padding: $spacer-xs 0 $spacer-xs $spacer-md;

  cite {
    color: $text-color;
    display: block;

    @include font-size($font-size-small);

    &:before {
      content: "- ";
    }
  }
}

// * Figcaption
// ----------------------------------------------------------------------------- */
figcaption {
  color: $text-color;
  @include font-size($font-size-caption);

  padding: $spacer-xs;
}

// * Small
// ----------------------------------------------------------------------------- */
small,
.small {
  color: $text-color;
  @include font-size($font-size-small);
}

// * Mark
// ----------------------------------------------------------------------------- */
mark {
  background-color: $grey-20;
  color: $primary;

  padding: 0 $spacer-sm;
}

// * Horizontal Rules
// ----------------------------------------------------------------------------- */
hr {
  border: none;
  border-top: 1px solid $grey-20;
  height: 1px;
  margin: $spacer-md 0;
}

// * Selection
// ----------------------------------------------------------------------------- */
::selection {
  background-color: tint($primary, 80%);
  color: $primary;
}
