// * -----------------------------------------------------------------------------
// 15 Sep 2020 at 14:43:34
// Media
// ----------------------------------------------------------------------------- */

img {
	vertical-align: middle;
}

figure {
	margin: 0;
}
