// * -----------------------------------------------------------------------------
// 15 Sep 2020 at 14:43:52
// Layout
// ----------------------------------------------------------------------------- */

// * HTML
// ----------------------------------------------------------------------------- */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba($black, 0);
  box-sizing: border-box;
  font-smooth: antialiased;
  text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Remove inner padding and
 * border in Firefox 4+
 */
::-moz-focus-inner {
  border: none;
  padding: 0;
}

// **
// * Hide OS controls for Windows
// * http://msdn.microsoft.com/en-us/library/windows/apps/hh465742.aspx
// */
::-ms-expand {
  display: none;
}

// **
// * Hide clear button in input fields for Windows
// * https://msdn.microsoft.com/en-us/library/windows/apps/hh465740.aspx
// */
::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

// * Structure 2 columns
// ----------------------------------------------------------------------------- */
.ns-structure__container--2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;

  grid-gap: $spacer-md;
}

// * Structure 3 columns
// ----------------------------------------------------------------------------- */
.ns-structure__container--3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;

  grid-gap: $spacer-md;
}

.ns-structure__cell {
  & .cell--start {
    justify-self: start;
  }
  & .cell--center {
    justify-self: center;
  }
  &.cell--end {
    justify-self: end;
  }
}
