<div class="ns-input__wrapper {{cssClass()}}">
  <div class="ns-input__header">
    <div class="ns-input">
      <label class="ns-input__label"
             for="{{dropdownIn}}_{{elementFullName}}_{{dropdownFieldName}}">
        {{getDropdownLabel()}}
      </label>
      <div class="ns-input__question">
        <i class="fas fa-question-circle"></i>
      </div>
    </div>
    <div class="ns-input__label-optional" *ngIf="!required">{{getDisplayText('optional')}}</div>
  </div>
  <div class="ns-input__content">
    <div class="ns-input-group">
      <div class="ns-input"
           (click)="toggleDropdownOptions()">
        <input class="ns-input-group__text"
               (keyup)="handleDropdownOnKeyUp($event)"
               [value]="chosenItem ? chosenItem : ''"
               type="text"
               id="{{dropdownIn}}_{{elementFullName}}_{{dropdownFieldName}}"
               name="{{elementName}}"
               [required]="required"
               autocomplete="off">
      </div>
      <div class="ns-input-group__append"
           *ngIf="fieldDropdownData.chosenItem"
           (click)="clearInputField()">
        <i class="fas fa-times"></i>
      </div>
      <div class="ns-input-group__append"
           (click)="toggleDropdownOptions()">
        <i [classList]="fieldDropdownData.isDropdownOptionsShown ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
      </div>
    </div>
    <div class="ns-input-group__options-wrapper"
         [style]="fieldDropdownData.isDropdownOptionsShown ? 'display: block' : 'display: none'">
      <div class="ns-input-group__options"
           *ngFor="let item of fieldDropdownData.items; index as i"
           (click)="chooseADropdownOption(item)">
        {{getDisplayText(item)}}
      </div>
    </div>
  </div>
  <div class="ns-input__notification">
    <div class="ns-input__notification-info">more info about this field</div>
    <div class="ns-notification-input__wrapper ns-notification--danger">
      <div class="ns-notification__message">notification message</div>
      <div class="ns-notification__icon">
        <i class="fas fa-exclamation-triangle"></i>
      </div>
    </div>
  </div>
</div>
