<div class="cp-alert__container">
  <div *ngFor="let alert of alerts" class="{{cssClass(alert)}}">
    <div class="cp-alert__message">
      {{getDisplayText(alert.message)}}
    </div>
    <div class="cp-alert__icon">
      <a class="cp-alert__close"
         (click)="removeAlert(alert)">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
</div>
