<a class="ns-tabs__arrow ns-tabs__left-arrow" (click)="showPreviousTab()">
  <i class="fas fa-chevron-left"></i>
</a>
<a class="ns-tabs__arrow ns-tabs__right-arrow" (click)="showNextTab()">
  <i class="fas fa-chevron-right"></i>
</a>
