<section class="element-form">
  <div class="element-form-page-content">
    <div class="element-form-form-wrapper">
      <div class="element-form-my-form">
        <div class="element-form-close-button-wrapper" (click)="closeForm()">
          <i class="fas fa-times"></i>
        </div>
        <form novalidate>
          <fieldset class="element-form-fieldset">
            <legend class="element-form-legend">{{getDisplayText('edit')}}</legend>
            <app-timesheet-dropdown
              [searchBy]="dropdownInputData('erpTimesheets.timesheet').searchBy"
              [dropdownIn]="dropdownIn"
              [dropdownInitialValue]="getDropdownInitialValue('erpTimesheets.timesheet')"
              [required]="dropdownInputData('erpTimesheets.timesheet').required"
              (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('erpTimesheets.timesheet').elementFullName)"
            ></app-timesheet-dropdown>
            <app-project-dropdown
              [searchBy]="dropdownInputData('enterprise.project').searchBy"
              [dropdownIn]="dropdownIn"
              [dropdownInitialValue]="getDropdownInitialValue('enterprise.project')"
              [required]="dropdownInputData('enterprise.project').required"
              (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('enterprise.project').elementFullName)"
            ></app-project-dropdown>
            <app-subproject-dropdown
              [searchBy]="dropdownInputData('enterprise.subproject').searchBy"
              [dropdownIn]="dropdownIn"
              [dropdownInitialValue]="getDropdownInitialValue('enterprise.subproject')"
              [required]="dropdownInputData('enterprise.subproject').required"
              (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('enterprise.subproject').elementFullName)"
            ></app-subproject-dropdown>
            <div>
              <!--Default input field for date: start-->
              <label for="{{fields.date}}">{{getFieldDisplayName(fields.date)}}</label>
              <input class="element-form-input"
                     [(ngModel)]="formModel.date"
                     type="date"
                     id="{{fields.date}}"
                     name="{{fields.date}}"
                     required>
              <!--Default input field for date: end-->
            </div>
            <div>
              <!--Default input field for date: start-->
              <label for="{{fields.hours}}">{{getFieldDisplayName(fields.hours)}}</label>
              <input class="element-form-input"
                     [(ngModel)]="formModel.hours"
                     id="{{fields.hours}}"
                     type="number"
                     name="{{fields.hours}}"
                     required>
              <!--Default input field for date: end-->
            </div>
            <div>
              <label for="{{fields.description}}">{{getFieldDisplayName(fields.description)}}</label>
              <input class="element-form-input"
                     [(ngModel)]="formModel.description"
                     type="text"
                     id="{{fields.description}}"
                     name="{{fields.description}}">
            </div>
          </fieldset>
          <button type="button"
                  class="element-form-standard-submit-button"
                  (click)="saveTimesheetEntry()">
            {{getDisplayText('save')}}
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="element-form-filter-component-wrapper" *ngIf="isFilterMenuShown">
    <app-filter [showListForFirstFilter]="true"></app-filter>
  </div>
</section>
