<app-dialog *ngIf="displayDialog"
            [titleTranslationKey]="'delete'"
            [messageTranslationKey]="'Are you sure?'"
            (buttonClickEvent)="handleDialogEventEmitter($event)"></app-dialog>
<section class="element-list">
  <div class="element-list__content">
    <div class="element-list__wrapper">
      <div class="ns-button__container--1">
        <div class="ns-button__cell">
          <button type="button" class="ns-button ns-button--primary ns-button__inline"
                  (click)="goToAddTimesheetEntryForm()">
                <span *ngIf="timesheetEntries.length !== 0">
                  {{getDisplayText('new')}}
                </span>
            <span *ngIf="timesheetEntries.length === 0">
                  {{getDisplayText('addFirstItem')}}
                </span>
          </button>
          <div class="ns-button ns-button--border ns-button__inline"
               *ngIf="timesheetEntries.length !== 0"
               (click)="toggleFilterDisplay()">
            <i class="fas fa-filter"></i>
          </div>
          <button type="button" class="ns-button ns-button--border ns-button__inline" *ngIf="selectedItems.size === 1" (click)="editItem()">
            {{getDisplayText('edit')}}
          </button>
          <button type="button" class="ns-button ns-button--border ns-button__inline" *ngIf="selectedItems.size >= 1" (click)="showDialog()">
            {{getDisplayText('delete')}}
          </button>
        </div>
      </div>
      <div class="cp-datagrid__container"  *ngIf="timesheetEntries.length !== 0">
        <table class="ns-table">
          <thead>
          <tr *ngIf="isRowDisplayed">
            <th class="cp-datagrid__th__checkbox" (click)="$event.stopPropagation()">
              <i
                [class]="allItemsSelected() ? 'far fa-check-square' : selectedItems.size > 0 ? 'far fa-minus-square' : 'far fa-square'"
                [style]="selectedItems.size > 0 ? 'color: #767676' : ''"
                (click)="toggleSelectAllItems(); $event.stopPropagation()"></i>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.timesheet)">
              {{getFieldDisplayName(fields.timesheet)}}
              <app-sort *ngIf="isSortable(fields.timesheet)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.timesheet"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.employee)">
              {{getFieldDisplayName(fields.employee)}}
              <app-sort *ngIf="isSortable(fields.employee)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.employee"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.project)">
              {{getFieldDisplayName(fields.project)}}
              <app-sort *ngIf="isSortable(fields.project)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.project"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.subproject)">
              {{getFieldDisplayName(fields.subproject)}}
              <app-sort *ngIf="isSortable(fields.subproject)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.subproject"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.date)">
              {{getFieldDisplayName(fields.date)}}
              <app-sort *ngIf="isSortable(fields.date)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.date"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.hours)">
              {{getFieldDisplayName(fields.hours)}}
              <app-sort *ngIf="isSortable(fields.hours)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.hours"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.status)">
              {{getFieldDisplayName(fields.status)}}
              <app-sort *ngIf="isSortable(fields.status)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.status"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.workingMonth)">
              {{getFieldDisplayName(fields.workingMonth)}}
              <app-sort *ngIf="isSortable(fields.workingMonth)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.workingMonth"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.description)">
              {{getFieldDisplayName(fields.description)}}
              <app-sort *ngIf="isSortable(fields.description)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.description"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <!--<th class="cp-datagrid__th"></th>-->
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let entry of timesheetEntries; trackBy: trackByExternalId">
            <tr (click)="goToTimesheetEntryDetailPage(entry.externalId)" *ngIf="isRowDisplayed">
              <td class="cp-datagrid__td__checkbox" (click)="$event.stopPropagation()">
                <i [class]="isRowSelected(entry.externalId) ? 'far fa-check-square' : 'far fa-square'"
                   [style]="isRowSelected(entry.externalId) ? 'color: #767676' : ''"
                   (click)="toggleSelectItem(entry); $event.stopPropagation()"></i>
              </td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.timesheet)">
                <a *ngIf="entry.timesheet" (click)="$event.stopPropagation()"
                   routerLink="/e-crystal/erpTimesheets/timesheet/{{entry.timesheet.externalId}}">
                  {{entry.timesheet.name}}
                </a>
              </td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.employee)">
                <a *ngIf="entry.employee" (click)="$event.stopPropagation()"
                   routerLink="/e-crystal/erpTimesheets/employee/{{entry.employee.externalId}}">
                  {{entry.employee.name}}
                </a>
              </td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.project)">
                <a *ngIf="entry.project" (click)="$event.stopPropagation()"
                   routerLink="/e-crystal/enterprise/project/{{entry.project.externalId}}">
                  {{entry.project.name}}
                </a>
              </td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.subproject)">
                <a *ngIf="entry.subproject" (click)="$event.stopPropagation()"
                   routerLink="/e-crystal/enterprise/subprojects/{{entry.subproject.externalId}}">
                  {{entry.subproject.name}}
                </a>
              </td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.date)">
                {{entry.date | date : 'dd/MM/YYYY'}}
              </td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.hours)">
                {{entry.hours}}
              </td>
              <td class="cp-datagrid__td element-list-status" *ngIf="isColumnShown(fields.status)"
                  [class.element-list-status-open]="entry.status === 'Open'">
                {{entry.status}}
              </td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.workingMonth)">
                <ng-container *ngIf="entry.workingMonth && entry.workingMonth.name">
                  {{entry.workingMonth.name}}
                </ng-container>
              </td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.description)">
                {{entry.description}}
              </td>
              <!--<td class="cp-datagrid__td">
                <div class="element-list-action-button-wrapper">
                  <div class="element-list-action-button-icon-wrapper">
                    <div (click)="goToEditTimesheetEntryForm(entry.externalId)">
                      <i class="fas fa-pen"></i>
                    </div>
                  </div>
                  <div class="element-list-action-button-icon-wrapper">
                    <form novalidate>
                      <button class="element-list-button-inside-action-menu" type="button"
                              (click)="resetSelectedItems(); addSelectedItem(entry); showDialog(); $event.stopPropagation()">
                        <i class="fas fa-trash"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </td>-->
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      <div class="cp-datagrid__controls">
        <div class="cp-datagrid__controls-cell cell--start">
          <app-table-control [fields]="fields"
                             [defaultHideFields]="defaultHideFields"
                             [elementFullName]="elementFullName"
                             (changePageSizeEvent)="onChangePageSize($event)">
          </app-table-control>
        </div>
        <div class="cp-datagrid__controls-cell cell--end">
          <app-pagination [paginationIn]="paginationIn"
                          [links]="links"
                          [page]="page"
                          (changePageEvent)="changePage($event)">
          </app-pagination>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="element-list-filter-component-wrapper">
    <div class="element-list-filter-collapse-expand-button-wrapper" (click)="toggleFilterDisplay()">
      <i [classList]="isFilterExpand ? 'fas fa-chevron-right' : 'fas fa-chevron-left'"></i>
    </div>
    <div class="element-list-filter" *ngIf="isFilterExpand">
      <app-filter></app-filter>
    </div>
  </div>-->
</section>

