<section class="element-filter">
  <div class="element-filter-header">
    <div class="element-filter-options-wrapper">
      <div class="element-filter-option-wrapper"
           *ngFor="let option of filterOptions">
        <div class="element-filter-option"
             (click)="toggleFilterOptionDisplay(option)">
          <i [classList]="isFilterOptionChosen(option) ? 'far fa-check-square' : 'far fa-square'"></i>
          {{getFieldDisplayName(option)}}
        </div>
      </div>
    </div>
  </div>
  <div class="element-filter-options-content-wrapper">
    <div class="element-filter-form-wrapper">
      <form class="element-filter-form" *ngIf="selectedFilterOptions.length !== 0"
            novalidate>
        <div class="element-filter-option-content"
             *ngIf="isFilterOptionChosen(fields.employee)">
          <app-employee-dropdown
            [searchBy]="dropdownInputData('enterprise.employee').searchBy"
            [dropdownIn]="dropdownIn" [dropdownInitialValue]="null"
            [required]="dropdownInputData('enterprise.employee').required"
            (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('enterprise.employee').elementFullName)"
          ></app-employee-dropdown>
        </div>
        <div class="element-filter-option-content" *ngIf="isFilterOptionChosen(fields.month)">
          <div>
            <label for="{{fields.month}}">{{getFieldDisplayName(fields.month)}}</label>
            <input class="element-filter-input"
                   [(ngModel)]="formModel.month"
                   type="text" id="{{fields.month}}" name="{{fields.month}}">
          </div>
        </div>
        <div class="element-filter-option-content" *ngIf="isFilterOptionChosen(fields.year)">
          <div>
            <label for="{{fields.year}}">{{getFieldDisplayName(fields.year)}}</label>
            <input class="element-filter-input"
                   [(ngModel)]="formModel.year"
                   type="text" id="{{fields.year}}" name="{{fields.year}}">
          </div>
        </div>
        <div class="element-filter-option-content" *ngIf="isFilterOptionChosen(fields.status)">
          <app-dropdown
            [elementFullName]="elementFullName"
            [dropdownIn]="dropdownIn"
            dropdownFieldName="status"
            [dropdownOptions]="statusDropdownOptions"
            (chosenItemModifiedEvent)="fieldDropdownChosenItemModifiedHandler($event, fields.status)"
          ></app-dropdown>
        </div>
        <div class="element-filter-form-buttons-wrapper">
          <div class="element-filter-clear-filter" (click)="clearFilters()">
            {{getDisplayText('reset')}}
          </div>
          <div>
            <button type="button"
                    class="element-filter-standard-submit-button"
                    (click)="applyFilter()">
              {{getDisplayText('apply')}}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="element-filter-form-supports-wrapper">
      <div class="element-filter-form-support" *ngIf="isFilterListShown || showListForFirstFilter">
        <app-timesheet-filter-list [fieldsToBeDisplayed]="fieldsToBeDisplayed"></app-timesheet-filter-list>
      </div>
    </div>
  </div>

</section>
