<app-dialog *ngIf="displayDialog"
            [titleTranslationKey]="'delete'"
            [messageTranslationKey]="'Are you sure?'"
            (buttonClickEvent)="handleDialogEventEmitter($event)"></app-dialog>
<section class="element-list">
  <div class="element-list-main-content">

    <div class="element-list-actions-container">
      <div class="element-list-main-content-actions-wrapper">
        <div class="element-list-main-content-action-link-wrapper">
          <div class="element-list-main-content-action-link"
               (click)="goToAddTimesheetRemarkForm()">
                  <span *ngIf="timesheetRemarks.length !== 0">
                    {{getDisplayText('new')}}
                  </span>
            <span *ngIf="timesheetRemarks.length === 0">
                    {{getDisplayText('addFirstItem')}}
                  </span>
          </div>
        </div>
        <div class="element-list-main-content-toggle-filter-wrapper" *ngIf="timesheetRemarks.length !== 0" (click)="toggleFilterDisplay()">
          <div class="element-list-main-content-toggle-filter">
            <i class="fas fa-filter"></i>
          </div>
        </div>
        <div class="element-list-main-content-action-button-wrapper action-for-single-item-only">
          <div class="element-list-main-content-action-button" (click)="editItem()">
            {{getDisplayText('edit')}}
          </div>
        </div>
        <div class="element-list-main-content-action-button-wrapper">
          <div class="element-list-main-content-action-button" (click)="showDialog()">
            {{getDisplayText('delete')}}
          </div>
        </div>
      </div>
      <app-table-control [fields]="fields"
                         [defaultHideFields]="defaultHideFields"
                         [elementFullName]="elementFullName"
                         (changePageSizeEvent)="onChangePageSize($event)">
      </app-table-control>
    </div>

    <div class="element-list-main-table-wrapper" *ngIf="timesheetRemarks.length !== 0">
      <table class="element-list-table">
        <thead class="element-list-thead">
        <tr class="element-list-tr" *ngIf="isRowDisplayed">
          <th class="element-list-th element-list-checkbox-wrapper" (click)="$event.stopPropagation()">
            <i
              [class]="allItemsSelected() ? 'far fa-check-square' : selectedItems.size > 0 ? 'far fa-minus-square' : 'far fa-square'"
              [style]="selectedItems.size > 0 ? 'color: #767676' : ''"
              (click)="toggleSelectAllItems(); $event.stopPropagation()"></i>
          </th>
          <th class="element-list-th" *ngIf="isColumnShown(fields.remark)">
            {{getFieldDisplayName(fields.remark)}}
            <app-sort *ngIf="isSortable(fields.remark)"
                      [elementFullName]="elementFullName"
                      [sortField]="fields.remark"
                      (changeSortDataEvent)="onChangeSortData($event)">
            </app-sort>
          </th>
          <th class="element-list-th"></th>
        </tr>
        </thead>
        <tbody class="element-list-tbody">
        <ng-container *ngFor="let timesheetRemark of timesheetRemarks; trackBy: trackByExternalId">
          <tr class="element-list-tr" (click)="goToTimesheetRemarkDetailPage(timesheetRemark.externalId)" *ngIf="isRowDisplayed">
            <td class="element-list-td element-list-checkbox-wrapper" (click)="$event.stopPropagation()">
              <i [class]="isRowSelected(timesheetRemark.externalId) ? 'far fa-check-square' : 'far fa-square'"
                 [style]="isRowSelected(timesheetRemark.externalId) ? 'color: #767676' : ''"
                 (click)="toggleSelectItem(timesheetRemark); $event.stopPropagation()"></i>
            </td>
            <td class="element-list-td" *ngIf="isColumnShown(fields.remark)">{{timesheetRemark.remark}}</td>
            <td class="element-list-td">
              <div class="element-list-action-button-wrapper">
                <div class="element-list-action-button-icon-wrapper"
                     (click)="goToEditTimesheetRemarkForm(timesheetRemark.externalId)">
                  <div>
                    <i class="fas fa-pen"></i>
                  </div>
                </div>
                <form novalidate>
                  <div class="element-list-action-button-icon-wrapper">
                    <button class="element-list-button-inside-action-menu" type="button"
                            (click)="resetSelectedItems(); addSelectedItem(timesheetRemark); showDialog(); $event.stopPropagation()">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </form>
              </div>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>

    <app-pagination [paginationIn]="paginationIn"
                    [links]="links"
                    [page]="page"
                    (changePageEvent)="changePage($event)">
    </app-pagination>
  </div>
  <div class="element-list-filter-component-wrapper">
    <div class="element-list-filter-collapse-expand-button-wrapper" (click)="toggleFilterDisplay()">
      <i [classList]="isFilterExpand ? 'fas fa-chevron-right' : 'fas fa-chevron-left'"></i>
    </div>
    <div class="element-list-filter" *ngIf="isFilterExpand">
      <app-filter></app-filter>
    </div>
  </div>

</section>



