// * -----------------------------------------------------------------------------
// 23 Feb 2021 at 11:09:23
// Form
// ----------------------------------------------------------------------------- */
fieldset {
  position: relative;

  border: none;

  margin: 0;
  padding: $spacer-lg;

  min-width: 0;
}

legend {
  width: 100%;

  @include font-size($font-size-lead);
  font-weight: $medium;
  color: $nsBlue;

  padding: $spacer-md 0;

  border-bottom: 1px solid $grey-20;
}

// * Form
// ----------------------------------------------------------------------------- */
.ns-form {
  margin: 0;
  padding: 0;
}

// * Form structure
// ----------------------------------------------------------------------------- */
.ns-form__wrapper {
  width: 100%;
  max-width: 640px;

  margin: 0 auto;
}

// * Form element
// ----------------------------------------------------------------------------- */
.ns-form-element__title {
  padding: $spacer-sm 0;

  font-weight: $bold;
}

.ns-form-element__wrapper {
  display: grid;
  grid-template-columns: ($spacer-lg * 2) auto;
  grid-template-rows: auto;
  grid-gap: $spacer-md;
}

.ns-form-element__sidebar {
  background-color: $nsBlue-10;
  color: $nsBlue;
  border-radius: $default-radius;
}

.ns-form-element__content {
  padding: 0;
}

.ns-form-element__icon {
  padding: $spacer-sm;
  text-align: center;

  @include font-size($font-size-h4);
}
