// * -----------------------------------------------------------------------------
// 23 Feb 2021 at 12:46:03
// Radio & Checkboxes
// ----------------------------------------------------------------------------- */
.ns-input__radio,
.ns-input__checkbox {
  display: block;

  &:not(:last-child) {
    margin-bottom: $spacer-xs;
  }
}

.ns-input--inline {
  margin: $spacer-sm 0;
  padding: $spacer-sm $spacer-md;
  line-height: $spacer-lg;

  .ns-input__radio,
  .ns-input__checkbox {
    display: inline-block;
  }
}

.ns-input__radio,
.ns-input__checkbox {
  display: block;
  position: relative;

  padding: 0 $spacer-md 0 0;
}

.ns-input--option {
  padding-top: $spacer-sm;

  color: $nsBlue;
}
