// * -----------------------------------------------------------------------------
// 19 Feb 2021 at 11:18:42
// Notifications
// ----------------------------------------------------------------------------- */
%notification {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: auto;

  padding: $spacer-md;
  margin: $spacer-lg 0;

  border-radius: $default-radius;

  @include font-size($font-size-body);
}

.ns-notification {
  @extend %notification;
}

.ns-notification__message {
  grid-column: 1;
  justify-self: start;
}

.ns-notification__icon {
  grid-column: 2;
  justify-self: end;
}

// * Colours
// ----------------------------------------------------------------------------- */
.ns-notification--danger {
  background-color: rgba($state-danger, 0.16);
  border: 1px solid rgba($state-danger, 0.16);
  color: $state-danger;
}

.ns-notification--warning {
  background-color: rgba($state-warning, 0.16);
  border: 1px solid rgba($state-warning, 0.16);
  color: $state-warning;
}

.ns-notification--success {
  background-color: rgba($state-success, 0.16);
  border: 1px solid rgba($state-success, 0.16);
  color: $state-success;
}

.ns-notification--info {
  background-color: rgba($state-info, 0.16);
  border: 1px solid rgba($state-info, 0.16);
  color: $state-info;
}

// * Notification Input
// ----------------------------------------------------------------------------- */
.ns-notification-input__wrapper {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: auto;

  padding: $spacer-sm $spacer-md;
  margin: $spacer-sm 0;

  border-radius: $default-radius;

  @include font-size($font-size-body);
}
