// * -----------------------------------------------------------------------------
// 8 Oct 2019 at 08:48:39
// Button
// ----------------------------------------------------------------------------- */
%button {
  border: none;
  border-radius: $default-radius;
  cursor: pointer;
  display: block;

  @include font-size($font-size-small);
  font-weight: $semi-bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  margin: 0;
  padding: $btn-spacer;
  min-width: ($spacer-lg * 5);

  user-select: none;

  transition-duration: $animation-duration;
  transition-property: color, background;
  transition-timing-function: $animation-easing;

  @include for-phone-only {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }
}

.ns-button,
.ns-button__negative,
.ns-button__outline,
.ns-button__transparent {
  @extend %button;
}

// * Colours
// Provide attributes ($_color, $_background) when using this mixin
// ----------------------------------------------------------------------------- */
.ns-button {
  @include ns-button;

  &.ns-button--blue {
    @include ns-button($white, $nsBlue);
  }
  // * =============================================================================
  &.ns-button--success {
    @include ns-button($white, $state-success);
  }

  &.ns-button--warning {
    @include ns-button($white, $state-warning);
  }

  &.ns-button--danger {
    @include ns-button($white, $state-danger);
  }

  &.ns-button--info {
    @include ns-button($white, $state-info);
  }
  // * =============================================================================
  &.ns-button--submit {
    @include ns-button($white, $nsBlue);
  }

  &.ns-button--cancel {
    @include ns-button($grey-80, $white);
  }
  // * =============================================================================
  &.ns-button--border {
    @include ns-button($grey-80, $white);
  }
}

// * Width
// ----------------------------------------------------------------------------- */
.ns-button--small {
  min-width: $spacer-lg;

  padding: $btn-spacer--small;
}
.ns-button--small--x {
  min-width: $spacer-lg;
}

// * Structure
// ----------------------------------------------------------------------------- */
// * 1 button
.ns-button__container--1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  margin-top: $spacer-md;
}
// * 2 buttons next to each other
.ns-button__container--2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-gap: $spacer-md;

  margin-top: $spacer-md;
}

.ns-button__cell {
  padding: $spacer-sm 0;

  & .cell--start {
    justify-self: start;
  }
  & .cell--center {
    justify-self: center;
  }
  &.cell--end {
    justify-self: end;
  }
}

// * =============================================================================
.ns-button__grid-cell {
  padding: 0;

  & .cell--start {
    justify-self: start;
  }
  & .cell--center {
    justify-self: center;
  }
  &.cell--end {
    justify-self: end;
  }
}

// * Button full width
// ----------------------------------------------------------------------------- */
.ns-button__block {
  width: 100%;
}

// * Button inline
// ----------------------------------------------------------------------------- */
.ns-button__inline {
  display: inline-block;

  margin-left: $spacer-sm;
}

// * Action buttons (cp-datagrid)
// ----------------------------------------------------------------------------- */
.ns-button__datagrid {
  @extend %button;

  display: inline-block;

  @include font-size($font-size-body);
  color: $nsBlue-40;

  padding: $btn-spacer--grid;
  margin-right: $spacer-sm;
  min-width: ($spacer-sm * 2);

  background-color: transparent;

  &:hover {
    background-color: $nsBlue-40;
    color: $nsBlue;
    border-radius: $default-radius;
  }
}
