// * -----------------------------------------------------------------------------
// 24 Feb 2021 at 10:01:35
// Divider
// ----------------------------------------------------------------------------- */
.line {
  border: 0;
  border-bottom: 1px solid $grey-40;

  margin: ($spacer-xl + 8) 0 $spacer-lg 0;
}

.line--blue {
  border-bottom: 1px solid $nsBlue-40;
}
