// * -----------------------------------------------------------------------------
// 19 Feb 2021 at 13:13:42
// input
// ----------------------------------------------------------------------------- */

// * Reset
// ----------------------------------------------------------------------------- */
button,
input,
input[type="search"],
select,
textarea {
  appearance: none;
  font: inherit;
  margin: 0;

  &:focus {
    outline: none;
  }
}

// * input
// ----------------------------------------------------------------------------- */
%input {
  position: relative;

  small {
    display: block;
    margin: $spacer-sm / 2 0;
    text-align: left;
  }

  input,
  select,
  textarea {
    line-height: normal;
    transition: border-color $animation-ease;
    width: 100%;
  }

  input {
    min-height: $input-height;
    padding: $input-padding;
  }

  select {
    min-height: $select-height;
    padding: $select-padding;
  }

  textarea {
    min-height: $textarea-height;
    padding: $textarea-padding;
    resize: vertical;
  }
}

.ns-input {
  @extend %input;

  width: 100%;
}

// * Input Structure
// ----------------------------------------------------------------------------- */
.ns-input__wrapper {
  display: flex;
  flex-direction: column;
}

.ns-input__header {
  display: grid;
  grid-template-columns: auto 80px;
  grid-template-rows: auto;

  padding-top: $spacer-sm;
}

.ns-input__content {
  padding: $spacer-xs 0;
  position: relative;
}

.ns-input__notification {
  margin: $spacer-xs 0 $spacer-md 0;
}

.ns-input__notification-info {
  background-color: $grey-10;
  color: $grey-80;
  border-radius: $default-radius;

  padding: $spacer-sm $spacer-md;
}

// * Question
// ----------------------------------------------------------------------------- */
.ns-input__question {
  display: inline-block;

  @include font-size($font-size-small);
  color: $nsBlue-40;

  margin: 0 $spacer-sm;

  cursor: pointer;
}

// * Text input
// ----------------------------------------------------------------------------- */
.ns-input__text {
  color: $text-color;
  background-color: $white;

  border: 1px solid $grey-20;
  border-radius: $default-radius;

  &:active,
  &:focus {
    border: 1px solid $grey-80;
    outline: none;
  }
}

// * Labels
// ----------------------------------------------------------------------------- */
.ns-input__label {
  display: inline-block;
  margin: 0;

  @include font-size($font-size-small);
  text-transform: uppercase;
  font-weight: $normal;
  text-align: left;
  color: $nsBlue-80;
}

.ns-input__label-optional {
  @include font-size($font-size-caption);
  text-transform: uppercase;
  letter-spacing: 1px;

  text-align: right;
}

// * Help text
// ----------------------------------------------------------------------------- */
.ns-input__help {
  display: inline-block;
  margin: $spacer-xs 0 $spacer-md 0;

  @include font-size($font-size-small);
  font-weight: $normal;
  text-align: left;
  color: $grey-80;
}

// * Input Group
// ----------------------------------------------------------------------------- */
.ns-input-group {
  display: flex;
  flex-direction: row;
}

.ns-input-group__text {
  flex-basis: 60%;

  color: $text-color;
  background-color: $white;

  border: 1px solid $grey-20;
  border-right: none;
  border-radius: $default-radius 0 0 $default-radius;

  &:active,
  &:focus {
    border: 1px solid $grey-60;
    outline: none;
  }
}

.ns-input-group__append {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $grey-10;
  border: 1px solid $grey-20;
  border-right: none;

  padding: 0 ($spacer-lg - 4);

  cursor: pointer;

  &:last-child {
    border: 1px solid $grey-20;
    border-radius: 0 $default-radius $default-radius 0;
  }
}

.ns-input-group__options-wrapper {
  position: absolute;

  width: max-content;
  min-width: 100%;

  max-height: 175px;

  overflow-x: hidden;
  overflow-y: scroll;

  background-color: $white;

  z-index: 2;

  border: 1px solid $grey-20;
  border-radius: $default-radius;
  box-shadow: $box-shadow;
}

.ns-input-group__options {
  display: flex;
  align-items: center;

  padding: $spacer-sm $spacer-md;

  cursor: pointer;

  &:hover {
    background-color: #e6e9ef;
  }

  &.last {
    font-style: italic;
  }
}

.ns-input-group__clear {
  margin-top: 6px;
  height: 35px;
  display: flex;
  padding-right: 10px;
  align-items: center;
  cursor: pointer;
  color: #e6e9ef;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;

  &:hover {
    background-color: #e6e9ef;
  }
}
