// * -----------------------------------------------------------------------------
// 1 Mar 2021 at 10:32:32
// Table
// ----------------------------------------------------------------------------- */
%ns-table {
  width: 100%;

  background-color: $white;
  border: 1px solid $grey-20;
  border-collapse: collapse;
  border-radius: $default-radius;

  thead {
    background-color: $grey-10;

    & tr:hover {
      background-color: $grey-10;
      cursor: pointer;
    }
  }

  tr {
    border-bottom: 1px solid $grey-20;
    height: $spacer-lg;
    transition: background-color $animation-ease;

    &:hover {
      background-color: $nsBlue-10;
      cursor: pointer;
    }
  }

  th {
    padding: $spacer-sm;
    padding-top: $spacer-md;
  }

  td {
    padding: $spacer-sm;
  }
}

.ns-table {
  @extend %ns-table;
}
