// * -----------------------------------------------------------------------------
// 8 Oct 2019 at 13:01:59
// Link
// ----------------------------------------------------------------------------- */
%a {
	text-decoration: none;
	padding: 0 0 4px 0;

	transition: color $animation-ease, border-color $animation-ease;
}
a {
	@extend %a;
}

// * Colours
// ----------------------------------------------------------------------------- */
a {
  @include ns-link;

  &.ns-link--success {
    @include ns-link($state-success);
  }

  &.ns-link--warning {
    @include ns-link($state-warning);
  }

  &.ns-link--danger {
    @include ns-link($state-danger);
  }

  &.ns-link--info {
    @include ns-link($state-info);
  }
}
