<div class="cp-datagrid-controls">
  <div class="cp-datagrid-controls__wrapper"
       [class.active]="hasCustomTableOptions"
       (click)="resetPageSizeAndColumns()">
    {{getDisplayText('reset')}}
  </div>
  <div class="cp-datagrid-controls__wrapper page-size-dropdown"
       (click)="togglePageSizeOptions()">
    <div class="cp-datagrid-controls__dropdown-wrapper">
      <div class="page-size__text">
        {{tableData.pageSize}}
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="cp-datagrid__dropdown page-size"
           *ngIf="tableData.showPageSizeOptions">
        <div class="cp-datagrid__dropdown-item"
             (click)="setPageSize(25)">
          25
        </div>
        <div class="cp-datagrid__dropdown-item"
             (click)="setPageSize(50)">
          50
        </div>
        <div class="cp-datagrid__dropdown-item"
             (click)="setPageSize(100)">
          100
        </div>
       <!-- <form class="element-list-table-option-dropdown-item element-list-page-size-form"
              (click)="$event.stopPropagation()"
              novalidate>
          <div>
            <label>
              <input class="element-list-table-option-dropdown-item-custom-input"
                     (keyup)="setCustomPageSize($event)"
                     type="text" placeholder="{{getDisplayText('other')}}">
            </label>
          </div>
          <button type="button"
                  class="element-list-table-option-dropdown-item-custom-submit"
                  (click)="setPageSize(tableData.pageSize)">
            {{getDisplayText('apply')}}
          </button>
        </form>-->
      </div>
    </div>
  </div>
  <div class="cp-datagrid-controls__wrapper columns-dropdown"
       (click)="toggleColumnOptions()">
    <div class="cp-datagrid-controls__dropdown-wrapper">
      <div>
        <i class="fas fa-list"></i>
      </div>
      <div class="cp-datagrid__dropdown"
           *ngIf="tableData.showColumnOptions">
        <div class="cp-datagrid__dropdown-item"
             (click)="toggleSelectAllColumns(); $event.stopPropagation()">
          <i [classList]="areAllColumnsDisplayed() ? 'far fa-check-square' : isRowDisplayed ? 'far fa-minus-square' : 'far fa-square'"></i>
          <div class="field">{{getDisplayText('selectAll')}}</div>
        </div>
        <div class="cp-datagrid__dropdown-item"
             *ngFor="let columnName of columns"
             (click)="toggleColumn(columnName); $event.stopPropagation()">
          <i [classList]="tableData.columnDisplay.get(columnName) ? 'far fa-check-square' : 'far fa-square'"></i>
          <div class="field">{{getFieldDisplayName(columnName)}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
