<section class="element-list">
  <div class="element-list__content">
    <div class="element-list__wrapper">
      <div class="ns-form">
        <form novalidate>
          <fieldset>
            <legend>{{getDisplayText('edit')}}</legend>

            <div class="ns-form__wrapper">
              <app-employee-dropdown
                [searchBy]="dropdownInputData('enterprise.employee').searchBy"
                [dropdownIn]="dropdownIn"
                [dropdownInitialValue]="getDropdownInitialValue('enterprise.employee')"
                [required]="dropdownInputData('enterprise.employee').required"
                (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('enterprise.employee').elementFullName)"
              ></app-employee-dropdown>

              <div class="ns-input__wrapper">
                <div class="ns-input__header">
                  <div class="ns-input">
                    <label class="ns-input__label" for="{{fields.month}}">{{getFieldDisplayName(fields.month)}}</label>
                    <div class="ns-input__question">
                      <i class="fas fa-question-circle"></i>
                    </div>
                  </div>
                </div>
                <div class="ns-input__content">
                  <div class="ns-input">
                    <input class="ns-input__text"
                           [(ngModel)]="formModel.month"
                           type="text" id="{{fields.month}}" name="{{fields.month}}">
                  </div>
                </div>
                <div class="ns-input__notification">
                  <div class="ns-input__notification-info">more info about this field</div>
                  <div class="ns-notification-input__wrapper ns-notification--danger">
                    <div class="ns-notification__message">notification message</div>
                    <div class="ns-notification__icon">
                      <i class="fas fa-exclamation-triangle"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ns-input__wrapper">
                <div class="ns-input__header">
                  <div class="ns-input">
                    <label class="ns-input__label" for="{{fields.year}}">{{getFieldDisplayName(fields.year)}}</label>
                    <div class="ns-input__question">
                      <i class="fas fa-question-circle"></i>
                    </div>
                  </div>
                </div>
                <div class="ns-input__content">
                  <div class="ns-input">
                    <input class="ns-input__text"
                           [(ngModel)]="formModel.year"
                           type="text" id="{{fields.year}}" name="{{fields.year}}">
                  </div>
                </div>
                <div class="ns-input__notification">
                  <div class="ns-input__notification-info">more info about this field</div>
                  <div class="ns-notification-input__wrapper ns-notification--danger">
                    <div class="ns-notification__message">notification message</div>
                    <div class="ns-notification__icon">
                      <i class="fas fa-exclamation-triangle"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ns-button__container--1">
                <div class="ns-button__cell ns-text-right">
                  <app-button [showButtonCondition]="getShowButtonCondition(buttons.cancel.name)"
                              [buttonType]="buttons.cancel.buttonType"
                              [buttonCssClasses]="buttons.cancel.buttonCssClasses"
                              [iconCssClasses]="buttons.cancel.iconCssClasses"
                              [translationKeyForButtonText]="buttons.cancel.translationKeyForButtonText"
                              (clickEvent)="onButtonClick($event, buttons.cancel.name)"></app-button>
                  <app-button [showButtonCondition]="getShowButtonCondition(buttons.save.name)"
                              [buttonType]="buttons.save.buttonType"
                              [buttonCssClasses]="buttons.save.buttonCssClasses"
                              [iconCssClasses]="buttons.save.iconCssClasses"
                              [translationKeyForButtonText]="buttons.save.translationKeyForButtonText"
                              (clickEvent)="onButtonClick($event, buttons.save.name)"></app-button>
                </div>
              </div>
            </div>
          </fieldset>

        </form>
      </div>
    </div>
  </div>
  <!--<div class="element-form-filter-component-wrapper" *ngIf="isFilterMenuShown">
    <app-filter [showListForFirstFilter]="true"></app-filter>
  </div>-->
</section>
