<app-dialog *ngIf="displayDialog"
            [titleTranslationKey]="'delete'"
            [messageTranslationKey]="'Are you sure?'"
            (buttonClickEvent)="handleDialogEventEmitter($event)"></app-dialog>
<section class="element-detail">
  <div class="element-list__content">
    <ng-container *ngIf="numberOfDataChildren !== 0">
      <div class="ns-tabs__wrapper">
        <app-tab-control *ngIf="showTabControl"
                         tabContainerCssClassName="ns-tabs__container"
                         tabLinksContainerCssClassName="ns-tabs__container-buttons"
                         tabLinksCssClassName="ns-tabs__links"></app-tab-control>
        <div class="ns-tabs__container">
          <div class="ns-tabs__container-buttons">
            <ng-container *ngFor="let fullName of dataChildrenFullNames">
              <a class="ns-tabs__links" routerLink="{{getElementName(fullName)}}" routerLinkActive="active">
                {{getElementDisplayName(fullName) | titlecase}}
              </a>
            </ng-container>
          </div>
        </div>
        <div class="element-detail-tab-content" *ngIf="showTabContent">
          <router-outlet></router-outlet>
        </div>
      </div>
    </ng-container>
    <div class="element-detail-main-table-wrapper">
      <div class="element-detail-main-table-header">
        <h3>
          {{getDisplayText('detail')}}
        </h3>
        <div class="element-detail-action-button-wrapper">
          <div class="element-detail-action-button-icon-wrapper"
               (click)="goToEditTimesheetEntryForm(timesheetEntry.externalId)">
            <div>
              <i class="fas fa-pen"></i>
            </div>
          </div>
          <form novalidate>
            <div class="element-detail-action-button-icon-wrapper">
              <button class="element-detail-button-inside-action-menu" type="button"
                      (click)="showDialog()">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="element-detail-table-wrapper">
        <table class="element-detail-table" *ngIf="timesheetEntry">
          <tbody>
          <tr>
            <th class="element-detail-th">{{getFieldDisplayName(fields.timesheet)}}</th>
            <td class="element-detail-td">
              <a *ngIf="timesheetEntry.timesheet"
                 routerLink="/e-crystal/erpTimesheets/timesheet/{{timesheetEntry.timesheet.externalId}}">
                {{timesheetEntry.timesheet.name}}
              </a>
            </td>
          </tr>
          <tr>
            <th class="element-detail-th">{{getFieldDisplayName(fields.project)}}</th>
            <td class="element-detail-td">
              <a *ngIf="timesheetEntry.project"
                 routerLink="/e-crystal/enterprise/project/{{timesheetEntry.project.externalId}}">
                {{timesheetEntry.project.name}}
              </a>
            </td>
          </tr>
          <tr>
            <th class="element-detail-th">{{getFieldDisplayName(fields.subproject)}}</th>
            <td class="element-detail-td">
              <a *ngIf="timesheetEntry.subproject"
                 routerLink="/e-crystal/enterprise/subproject/{{timesheetEntry.subproject.externalId}}">
                {{timesheetEntry.subproject.name}}
              </a>
            </td>
          </tr>
          <tr>
            <th class="element-detail-th">{{getFieldDisplayName(fields.date)}}</th>
            <td class="element-detail-td">{{timesheetEntry.date | date : 'dd/MM/YYYY'}}</td>
          </tr>
          <tr>
            <th class="element-detail-th">{{getFieldDisplayName(fields.hours)}}</th>
            <td class="element-detail-td">{{timesheetEntry.hours}}</td>
          </tr>
          <tr>
            <th class="element-detail-th">{{getFieldDisplayName(fields.status)}}</th>
            <td class="element-detail-td status"
                [class.status-open]="timesheetEntry.status === 'Open'">
              {{timesheetEntry.status}}
            </td>
          </tr>
          <tr>
            <th class="element-detail-th">{{getFieldDisplayName(fields.description)}}</th>
            <td class="element-detail-td">{{timesheetEntry.description}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>



