<app-dialog *ngIf="displayDialog"
            [titleTranslationKey]="'delete'"
            [messageTranslationKey]="'Are you sure?'"
            (buttonClickEvent)="handleDialogEventEmitter($event)"></app-dialog>
<section class="element-detail">
  <div class="element-list__content">
    <div class="element-detail-page-content">
      <ng-container *ngIf="numberOfDataChildren !== 0 && timesheet">
        <div class="ns-tabs__wrapper">
          <app-tab-control *ngIf="showTabControl"
                           tabContainerCssClassName="ns-tabs__container"
                           tabLinksContainerCssClassName="ns-tabs__container-buttons"
                           tabLinksCssClassName="ns-tabs__links"></app-tab-control>
          <div class="ns-tabs__container">
            <div class="ns-tabs__container-buttons">
              <ng-container *ngFor="let fullName of dataChildrenFullNames">
                <a class="ns-tabs__links" routerLink="{{getElementName(fullName)}}" routerLinkActive="active">
                  {{getElementDisplayName(fullName) | titlecase}}
                </a>
              </ng-container>
              <a class="ns-tabs__links" routerLink="test4" routerLinkActive="active">
                Testing tab link4
              </a>
              <a class="ns-tabs__links" routerLink="test5" routerLinkActive="active">
                Testing tab link5
              </a>
              <a class="ns-tabs__links" routerLink="test6" routerLinkActive="active">
                Testing tab link6
              </a>
              <a class="ns-tabs__links" routerLink="test7" routerLinkActive="active">
                Testing tab link7
              </a>
              <a class="ns-tabs__links" routerLink="test8" routerLinkActive="active">
                Testing tab link8
              </a>
              <a class="ns-tabs__links" routerLink="test9" routerLinkActive="active">
                Testing tab link9
              </a>
              <a class="ns-tabs__links" routerLink="test10" routerLinkActive="active">
                Testing tab link10
              </a>
            </div>
          </div>
          <div class="element-detail-tab-content" *ngIf="showTabContent">
            <router-outlet></router-outlet>
          </div>
        </div>
      </ng-container>
      <div class="element-detail-main-table-wrapper">
        <div class="element-detail-main-table-header">
          <div class="ns-button__container--2">
            <div class="ns-button__cell">
              <p>
                {{getDisplayText('detail')}}
              </p>
            </div>
            <div class="ns-button__cell cell--end">
              <app-button [showButtonCondition]="getShowButtonCondition(buttons.edit.name)"
                          [buttonType]="buttons.edit.buttonType"
                          [buttonCssClasses]="buttons.edit.buttonCssClasses"
                          [iconCssClasses]="buttons.edit.iconCssClasses"
                          [translationKeyForButtonText]="buttons.edit.translationKeyForButtonText"
                          (clickEvent)="onButtonClick($event, buttons.edit.name)"></app-button>
              <app-button [showButtonCondition]="getShowButtonCondition(buttons.delete.name)"
                          [buttonType]="buttons.delete.buttonType"
                          [buttonCssClasses]="buttons.delete.buttonCssClasses"
                          [iconCssClasses]="buttons.delete.iconCssClasses"
                          [translationKeyForButtonText]="buttons.delete.translationKeyForButtonText"
                          (clickEvent)="onButtonClick($event, buttons.delete.name)"></app-button>
            </div>
          </div>
        </div>
        <div class="element-detail-table-wrapper">
          <table class="ns-table" *ngIf="timesheet">
            <tbody>
            <tr>
              <th class="cp-datagrid__th">{{getFieldDisplayName(fields.name)}}</th>
              <td class="cp-datagrid__td">{{timesheet.name}}</td>
            </tr>
            <tr>
              <th class="cp-datagrid__th">{{getFieldDisplayName(fields.employee)}}</th>
              <td class="cp-datagrid__td">
                <a *ngIf="timesheet.employee"
                   routerLink="/e-crystal/enterprise/employee/{{timesheet.employee.externalId}}">
                  {{timesheet.employee.name}}
                </a>
              </td>
            </tr>
            <tr>
              <th class="cp-datagrid__th">{{getFieldDisplayName(fields.month)}}</th>
              <td class="cp-datagrid__td">{{timesheet.month}}</td>
            </tr>
            <tr>
              <th class="cp-datagrid__th">{{getFieldDisplayName(fields.year)}}</th>
              <td class="cp-datagrid__td">{{timesheet.year}}</td>
            </tr>
            <tr>
              <th class="cp-datagrid__th">{{getFieldDisplayName(fields.status)}}</th>
              <td class="cp-datagrid__td element-detail-status"
                  [class.element-detail-status-open]="timesheet.status === 'Open'">
                {{timesheet.status}}
              </td>
            </tr>
            <tr>
              <th class="cp-datagrid__th">{{getFieldDisplayName(fields.totalHours)}}</th>
              <td class="cp-datagrid__td">{{timesheet.totalHours}}</td>
            </tr>
            <tr>
              <th class="cp-datagrid__th">{{getFieldDisplayName(fields.totalManDays)}}</th>
              <td class="cp-datagrid__td">{{timesheet.totalManDays  | number : '1.0-2'}}</td>
            </tr>
            <tr>
              <th class="cp-datagrid__th">{{getFieldDisplayName(fields.numberOfTimesheetEntries)}}</th>
              <td class="cp-datagrid__td">{{timesheet.numberOfTimesheetEntries}}</td>
            </tr>
            <tr>
              <th class="cp-datagrid__th">{{getFieldDisplayName(fields.numberOfTimesheetRemarks)}}</th>
              <td class="cp-datagrid__td">{{timesheet.numberOfTimesheetRemarks}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>



