<div class="element-workspace" *ngIf="!isSubworkspace">
  <div>
    <app-header></app-header>
  </div>
  <div class="element-workspace-page">
    <div>
      <app-page-header></app-page-header>
    </div>
    <div class="element-workspace-page-content">
      <router-outlet></router-outlet>
    </div>
    <div>
      <app-page-footer></app-page-footer>
    </div>
  </div>
</div>

<ng-container *ngIf="isSubworkspace">
  <router-outlet></router-outlet>
</ng-container>
