<app-dialog *ngIf="displayDialog"
            [titleTranslationKey]="'delete'"
            [messageTranslationKey]="'Are you sure?'"
            (buttonClickEvent)="handleDialogEventEmitter($event)"></app-dialog>
<section class="element-list">
  <div class="element-list-main-content">

    <div class="element-list-actions-container">
      <div class="element-list-main-content-actions-wrapper">
        <div class="element-list-main-content-action-link-wrapper">
          <div class="element-list-main-content-action-link"
               (click)="goToAddExpenseForm()">
                  <span *ngIf="expenses && expenses.length !== 0">
                    {{getDisplayText('new')}}
                  </span>
            <span *ngIf="expenses && expenses.length === 0">
                    {{getDisplayText('addFirstItem')}}
                  </span>
          </div>
        </div>
        <div class="element-list-main-content-toggle-filter-wrapper" *ngIf="expenses.length !== 0" (click)="toggleFilterDisplay()">
          <div class="element-list-main-content-toggle-filter">
            <i class="fas fa-filter"></i>
          </div>
        </div>
        <div class="element-list-main-content-action-button-wrapper action-for-single-item-only">
          <div class="element-list-main-content-action-button" (click)="editItem()">
            {{getDisplayText('edit')}}
          </div>
        </div>
        <div class="element-list-main-content-action-button-wrapper">
          <div class="element-list-main-content-action-button" (click)="showDialog()">
            {{getDisplayText('delete')}}
          </div>
        </div>
      </div>
      <app-table-control [fields]="fields"
                         [defaultHideFields]="defaultHideFields"
                         [elementFullName]="elementFullName"
                         (changePageSizeEvent)="onChangePageSize($event)">
      </app-table-control>
    </div>

    <ng-container *ngIf="expenses && expenses.length !== 0">
      <div class="element-list-main-table-wrapper">
        <table class="element-list-table">
          <thead class="element-list-thead">
          <tr class="element-list-tr" *ngIf="isRowDisplayed">
            <th class="element-list-th element-list-checkbox-wrapper" (click)="$event.stopPropagation()">
              <i
                [class]="allItemsSelected() ? 'far fa-check-square' : selectedItems.size > 0 ? 'far fa-minus-square' : 'far fa-square'"
                [style]="selectedItems.size > 0 ? 'color: #767676' : ''"
                (click)="toggleSelectAllItems(); $event.stopPropagation()"></i>
            </th>
            <th class="element-list-th">
              Cost
              <app-sort *ngIf="isSortable(fields.cost)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.cost"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="element-list-th">
              {{getFieldDisplayName(fields.description)}}
              <app-sort *ngIf="isSortable(fields.description)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.description"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="element-list-th">
              {{getFieldDisplayName(fields.status)}}
              <app-sort *ngIf="isSortable(fields.status)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.status"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="element-list-th">
              {{getFieldDisplayName(fields.timesheetEntry)}}
              <app-sort *ngIf="isSortable(fields.timesheetEntry)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.timesheetEntry"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="element-list-th"></th>
          </tr>
          </thead>
          <tbody class="element-list-tbody">
          <ng-container *ngFor="let expense of expenses">
            <tr class="element-list-tr" (click)="goToExpenseDetailPage(expense.externalId)" *ngIf="isRowDisplayed">
              <td class="element-list-td element-list-checkbox-wrapper" (click)="$event.stopPropagation()">
                <i [class]="isRowSelected(expense.externalId) ? 'far fa-check-square' : 'far fa-square'"
                   [style]="isRowSelected(expense.externalId) ? 'color: #767676' : ''"
                   (click)="toggleSelectItem(expense); $event.stopPropagation()"></i>
              </td>
              <td class="element-list-td">{{expense.cost}}</td>
              <td class="element-list-td">{{expense.description}}</td>
              <td class="element-list-td element-list-status"
                  [class.element-list-status-open]="expense.status === 'Open'">
                {{expense.status}}
              </td>
              <td class="element-list-td">
                <a *ngIf="expense.timesheetEntry" (click)="$event.stopPropagation()"
                   routerLink="/e-crystal/erpTimesheets/timesheetEntry/{{expense.timesheetEntry.externalId}}">
                  {{expense.timesheetEntry.name}}
                </a>
              </td>
              <td class="element-list-td">
                <div class="element-list-action-button-wrapper">
                  <div class="element-list-action-button-icon-wrapper">
                    <div (click)="goToEditExpenseForm(expense.externalId)">
                      <i class="fas fa-pen"></i>
                    </div>
                  </div>
                  <div class="element-list-action-button-icon-wrapper">
                    <form novalidate>
                      <button class="element-list-button-inside-action-menu" type="button"
                              (click)="resetSelectedItems(); addSelectedItem(expense); showDialog(); $event.stopPropagation()">
                        <i class="fas fa-trash"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>

      <app-pagination [paginationIn]="paginationIn"
                      [links]="links"
                      [page]="page"
                      (changePageEvent)="changePage($event)">
      </app-pagination>
    </ng-container>


  </div>
</section>

