<section class="element-form">
  <div class="element-form-page-content">
    <div class="element-form-form-wrapper">
      <div class="element-form-my-form">
        <div class="element-form-close-button-wrapper" (click)="closeForm()">
          <i class="fas fa-times"></i>
        </div>
        <form novalidate>
          <fieldset class="element-form-fieldset">
            <legend class="element-form-legend">{{getDisplayText('add')}}</legend>
            <app-timesheet-dropdown
              [searchBy]="dropdownInputData('erpTimesheets.timesheet').searchBy"
              [dropdownIn]="dropdownIn"
              [dropdownInitialValue]="getDropdownInitialValue('erpTimesheets.timesheet')"
              [required]="dropdownInputData('erpTimesheets.timesheet').required"
              (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('erpTimesheets.timesheet').elementFullName)"
            ></app-timesheet-dropdown>
            <app-project-dropdown
              [searchBy]="dropdownInputData('enterprise.project').searchBy"
              [dropdownIn]="dropdownIn"
              [dropdownInitialValue]="getDropdownInitialValue('enterprise.project')"
              [required]="dropdownInputData('enterprise.project').required"
              (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('enterprise.project').elementFullName)"
            ></app-project-dropdown>
            <app-subproject-dropdown
              [searchBy]="dropdownInputData('enterprise.subproject').searchBy"
              [dropdownIn]="dropdownIn"
              [dropdownInitialValue]="getDropdownInitialValue('enterprise.subproject')"
              [required]="dropdownInputData('enterprise.subproject').required"
              (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('enterprise.subproject').elementFullName)"
            ></app-subproject-dropdown>
            <div>
              <div [class.d-none]="isMultipleDays">
                <!--Default input field for date: start-->
                <label for="{{fields.date}}">{{getFieldDisplayName(fields.date)}}</label>
                <input class="element-form-input"
                       [(ngModel)]="formModel.date"
                       type="date"
                       id="{{fields.date}}"
                       name="{{fields.date}}"
                       required>
                <!--Default input field for date: end-->
              </div>

              <!--custom: multiple days: start-->
              <div class="element-form-check-icon-wrapper"
                   (click)="displayChooseMultipleDaysForm()">
                      <span class="element-form-check-icon">
                        <i [classList]="isMultipleDays ? 'far fa-check-square' : 'far fa-square'"></i>
                      </span>
                <span>
                  {{getDisplayText('chooseMultipleDays')}}
                </span>
              </div>

              <ng-container *ngIf="isMultipleDays">
                <div>
                  <label for="startDate">{{getDisplayText('from')}}</label>
                  <input class="element-form-input"
                         [(ngModel)]="formModel.startDate"
                         (change)="updateDatesArray(); switchHoursValues()"
                         type="date"
                         id="startDate"
                         name="startDate"
                         required>
                </div>
                <div>
                  <label for="endDate">{{getDisplayText('to')}}</label>
                  <input class="element-form-input"
                         [(ngModel)]="formModel.endDate"
                         (change)="updateDatesArray(); switchHoursValues()"
                         type="date"
                         id="endDate"
                         name="endDate"
                         required>
                </div>

                <div class="element-form-check-icon-wrapper"
                     (click)="toggleIncludeWeekend()">
                      <span class="element-form-check-icon">
                        <i [classList]="formModel.includeWeekend ? 'far fa-check-square' : 'far fa-square'"></i>
                      </span>
                  <span>
                  {{getDisplayText('includeWeekend')}}
                </span>
                </div>
              </ng-container>
              <!--custom: multiple days: end-->
            </div>
            <div>
              <div [class.d-none]="isHourDifferentByDay">
                <!--Default input field for date: start-->
                <label for="{{fields.hours}}">{{getFieldDisplayName(fields.hours)}}</label>
                <input class="element-form-input"
                       [(ngModel)]="formModel.hours"
                       id="{{fields.hours}}"
                       type="number"
                       name="{{fields.hours}}"
                       required>
                <!--Default input field for date: end-->
              </div>

              <!--custom: multiple hours: end-->
              <div *ngIf="isMultipleDays"
                   (click)="displayEditHourByDayForm()"
                   class="element-form-check-icon-wrapper">
                    <span class="element-form-check-icon">
                      <i [classList]="isHourDifferentByDay ? 'far fa-check-square' : 'far fa-square'"></i>
                    </span>
                <span>
                  {{getDisplayText('differentHoursByDay')}}
                </span>
              </div>

              <div *ngIf="isHourDifferentByDay">
                <div *ngFor="let item of formModel.hoursByDay; let i = index; trackBy: trackByIdx">
                  <div>
                    <label>{{getDisplayText('hoursFor')}} {{dates[i] | date : 'dd/MM/YYY' }}
                      <input class="element-form-input"
                             [(ngModel)]="formModel.hoursByDay[i]"
                             type="number"
                             [name]="'hour' + (i + 1)"
                             required>
                    </label>
                  </div>
                </div>
              </div>
              <!--custom: multiple hours: start-->
            </div>
            <div>
              <label for="{{fields.description}}">{{getFieldDisplayName(fields.description)}}</label>
              <input class="element-form-input"
                     [(ngModel)]="formModel.description"
                     type="text"
                     id="{{fields.description}}"
                     name="{{fields.description}}">
            </div>
          </fieldset>
          <button type="button"
                  class="element-form-standard-submit-button"
                  (click)="addTimesheetEntry()">
            {{getDisplayText('add')}}
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="element-form-filter-component-wrapper" *ngIf="isFilterMenuShown">
    <app-filter [showListForFirstFilter]="true"></app-filter>
  </div>
</section>
