<div class="app-nav">
  <nav>
    <div class="sidenav">
      <ng-container *ngFor="let dropdown of dropdowns">
        <div class="dropdown-btn">
          {{dropdown.title}}
          <span class="fa-caret-down-wrapper">
          <i class="fa fa-caret-down"></i>
        </span>
        </div>
        <div class="dropdown-container">
          <ng-container *ngFor="let item of dropdown.items">
            <a routerLink="/{{item.link}}" routerLinkActive="nav-link-active">
              <span><i class="far fa-window-maximize"></i>&nbsp;</span>
              {{item.name}}
            </a>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </nav>
</div>

