<section class="ns-dialog">
  <div class="ns-dialog__wrapper">
    <div class="ns-dialog__header">
      <i class="fas fa-exclamation-triangle"></i>
      <div class="ns-dialog__title">
        {{getDisplayText(titleTranslationKey)}}
      </div>
    </div>
    <div class="ns-dialog__content">
      <span class="ns-text-bold">
        {{getDisplayText('deleteWarning')}}
      </span>
      <p>{{ getDisplayText(messageTranslationKey) }}</p>
    </div>
    <div class="ns-dialog__footer">
      <div class="ns-button__container--1">
        <div class="ns-button__cell cell--end">
          <button type="button"
                  class="ns-button ns-button--danger ns-button__inline"
                  (click)="confirm()">
             {{ getDisplayText("confirm") }}
          </button>
          <button type="button"
                  class="ns-button ns-button--border ns-button__inline"
                  (click)="cancel()">
             {{ getDisplayText("cancel") }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
