/* -----------------------------------------------------------------------------
	*Wednesday 19 Dec 2018 - Time: 10:21*
	Background
----------------------------------------------------------------------------- */

// * Background
// ----------------------------------------------------------------------------- */
.ns-bg-light {
  background-color: $grey-20;
}

.ns-bg-lighter {
  background-color: $grey-10;
}

.ns-bg-primary {
  background-color: $primary;
}

.ns-bg-success {
  background-color: $state-success;
}

.ns-bg-warning {
  background-color: $state-warning;
}

.ns-bg-danger {
  background-color: $state-danger;
}

.ns-bg-white {
  background-color: $white;
}

.ns-bg-black {
  background-color: $black;
}
