/* -----------------------------------------------------------------------------
	*Wednesday 19 Dec 2018 - Time: 09:36*
	Spacing
----------------------------------------------------------------------------- */

/* Margin
----------------------------------------------------------------------------- */
.ns-margin-xs {
  margin: $spacer-xs;
}

.ns-margin-sm {
  margin: $spacer-sm;
}

.ns-margin-md {
  margin: $spacer-md;
}

.ns-margin-lg {
  margin: $spacer-lg;
}

.ns-margin-xl {
  margin: $spacer-xl;
}

.ns-margin-xxl {
  margin: $spacer-xxl;
}

/* Margin-top
----------------------------------------------------------------------------- */
.ns-margin-top-xs {
  margin-top: $spacer-xs;
}

.ns-margin-top-sm {
  margin-top: $spacer-sm;
}

.ns-margin-top-md {
  margin-top: $spacer-md;
}

.ns-margin-top-lg {
  margin-top: $spacer-lg;
}

.ns-margin-top-xl {
  margin-top: $spacer-xl;
}

.ns-margin-top-xxl {
  margin-top: $spacer-xxl;
}

/* Margin-right
----------------------------------------------------------------------------- */
.ns-margin-right-xs {
  margin-right: $spacer-xs;
}

.ns-margin-right-sm {
  margin-right: $spacer-sm;
}

.ns-margin-right-md {
  margin-right: $spacer-md;
}

.ns-margin-right-lg {
  margin-right: $spacer-lg;
}

.ns-margin-right-xl {
  margin-right: $spacer-xl;
}

.ns-margin-right-xxl {
  margin-right: $spacer-xxl;
}

/* Margin-bottom
----------------------------------------------------------------------------- */
.ns-margin-bottom-xs {
  margin-bottom: $spacer-xs;
}

.ns-margin-bottom-sm {
  margin-bottom: $spacer-sm;
}

.ns-margin-bottom-md {
  margin-bottom: $spacer-md;
}

.ns-margin-bottom-lg {
  margin-bottom: $spacer-lg;
}

.ns-margin-bottom-xl {
  margin-bottom: $spacer-xl;
}

.ns-margin-bottom-xxl {
  margin-bottom: $spacer-xxl;
}

/* Margin-left
----------------------------------------------------------------------------- */
.ns-margin-left-xs {
  margin-left: $spacer-xs;
}

.ns-margin-left-sm {
  margin-left: $spacer-sm;
}

.ns-margin-left-md {
  margin-left: $spacer-md;
}

.ns-margin-left-lg {
  margin-left: $spacer-lg;
}

.ns-margin-left-xl {
  margin-left: $spacer-xl;
}

.ns-margin-left-xxl {
  margin-left: $spacer-xxl;
}
