<div class="element-workspace" *ngIf="!isSubworkspace">
  <div class="element-workspace-app-header-wrapper">
    <app-header></app-header>
  </div>
  <div class="element-workspace-page">
    <div class="element-workspace-page-header">
      <app-page-header></app-page-header>
    </div>
    <div class="element-workspace-page-content">
      <router-outlet></router-outlet>
    </div>
    <div class="element-workspace-page-footer">
      <app-page-footer></app-page-footer>
    </div>
  </div>
</div>
<ng-container *ngIf="isSubworkspace">
  <router-outlet></router-outlet>
</ng-container>
