<section class="app-login">
  <div class="page-content">
    <div></div><!--this empty div is used for styling purpose only-->
    <div class="login-panel">
      <div class="logo-container">
        <img class="logo" src="assets/images/logo.png" alt="e-crystal">
      </div>
      <div class="form-container">
        <div class="form-wrapper">
          <div class="my-form">
            <form [formGroup]="loginForm"
                  (ngSubmit)="onSubmit()"
                  novalidate>
              <fieldset>
                <div>
                  <label for="username"></label>
                  <div class="input-wrapper">
                    <div class="icon"><i class="fas fa-user"></i></div>
                    <div class="field">
                      <input formControlName="username"
                             type="text"
                             id="username"
                             name="username"
                             placeholder="{{getDisplayText('username')}}">
                    </div>
                  </div>
                </div>
                <div>
                  <label for="password"></label>
                  <div class="input-wrapper">
                    <div class="icon"><i class="fas fa-key"></i></div>
                    <div class="field">
                      <input formControlName="password"
                             type="password"
                             id="password"
                             name="password"
                             placeholder="{{getDisplayText('password')}}"
                             autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="ns-notification ns-notification--danger" *ngIf="loginErrorTranslationKey">
                  <div class="ns-notification__message">
                    {{getDisplayText(loginErrorTranslationKey)}}
                  </div>
                  <div class="ns-notification__icon">
                    <i class="fas fa-exclamation-circle"></i>
                  </div>
                </div>
                <button type="submit" class="ns-button ns-button__block ns-button--blue">
                  {{getDisplayText('login')}}
                </button>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="link-container">
          <a href="https://foundation.stars-end.net/" class="link">
            <div class="link-image">
              <img src="assets/images/ns-documentation.png" alt="ns-documentation">
            </div>
            <div class="link-text">
              <div>
                {{getDisplayText('foundation') | uppercase}}
              </div>
            </div>
          </a>
          <a href="https://foundation.stars-end.net/tools" class="link">
            <div class="link-image">
              <img src="assets/images/ns-library.png" alt="ns-library">
            </div>
            <div class="link-text">
              <div>
                NS {{getDisplayText('library') | uppercase}}
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
