<div class="cp-pagination" *ngIf="page && page.totalPages !== 0">
  <div class="cp-pagination__statistics" *ngIf="displayItemRange">
    {{getDisplayText('items')}} {{firstItemOfCurrentPage}} - {{lastItemOfCurrentPage}} of {{page.totalElements}}
  </div>
  <div class="cp-pagination__wrapper">
    <div *ngIf="displayItemRange"
         [classList]="page.number == 1 ? 'cp-pagination__first--inactive' : 'cp-pagination__first'"
         (click)="displayFirstPageOfList()">
      <i class="fas fa-angle-double-left"></i>
    </div>
    <div [classList]="page.number == 1 ? 'cp-pagination__previous--inactive' : 'cp-pagination__previous'"
         (click)="displayPreviousPageOfList()">
      <i class="fas fa-angle-left"></i>
    </div>
    <div class="cp-pagination__info">
      <ng-container *ngIf="displayItemRange">
        {{getDisplayText('page')}} {{page.number}} of {{page.totalPages}}
      </ng-container>
      <ng-container *ngIf="!displayItemRange">
        {{page.number}}/{{page.totalPages}}
      </ng-container>
    </div>
    <div [classList]="page.number == page.totalPages ? 'cp-pagination__previous--inactive' : 'cp-pagination__previous'"
         (click)="displayNextPageOfList()">
      <i class="fas fa-angle-right"></i>
    </div>
    <div *ngIf="displayItemRange"
         class="cp-pagination__last"
         [classList]="page.number == page.totalPages ? 'cp-pagination__last--inactive' : 'cp-pagination__last'"
         (click)="displayLastPageOfList()">
      <i class="fas fa-angle-double-right"></i>
    </div>
  </div>
</div>
