<button *ngIf="showButtonCondition"
        [type]="buttonType"
        [classList]="buttonCssClasses"
        (click)="onButtonClick()">
  <i [class]="iconCssClasses" *ngIf="iconCssClasses"></i>
  <ng-container *ngIf="translationKeyForButtonText">
    {{getDisplayText(translationKeyForButtonText)}}
  </ng-container>
</button>
