<app-dialog *ngIf="displayDialog"
            [titleTranslationKey]="'delete'"
            [messageTranslationKey]="'Are you sure?'"
            (buttonClickEvent)="handleDialogEventEmitter($event)"></app-dialog>
<section class="element-list">
  <div class="element-list__content">
    <div class="element-list__wrapper">
      <div class="ns-button__container--1">
        <div class="ns-button__cell">
          <app-button [showButtonCondition]="getShowButtonCondition(buttons.new.name)"
                      [buttonType]="buttons.new.buttonType"
                      [buttonCssClasses]="buttons.new.buttonCssClasses"
                      [iconCssClasses]="buttons.new.iconCssClasses"
                      [translationKeyForButtonText]="buttons.new.translationKeyForButtonText"
                      (clickEvent)="onButtonClick($event, buttons.new.name)"></app-button>
          <app-button [showButtonCondition]="getShowButtonCondition(buttons.filter.name)"
                      [buttonType]="buttons.filter.buttonType"
                      [buttonCssClasses]="buttons.filter.buttonCssClasses"
                      [iconCssClasses]="buttons.filter.iconCssClasses"
                      [translationKeyForButtonText]="buttons.filter.translationKeyForButtonText"
                      (clickEvent)="onButtonClick($event, buttons.filter.name)"></app-button>
          <app-button [showButtonCondition]="getShowButtonCondition(buttons.detail.name)"
                      [buttonType]="buttons.detail.buttonType"
                      [buttonCssClasses]="buttons.detail.buttonCssClasses"
                      [iconCssClasses]="buttons.detail.iconCssClasses"
                      [translationKeyForButtonText]="buttons.detail.translationKeyForButtonText"
                      (clickEvent)="onButtonClick($event, buttons.detail.name)"></app-button>
          <app-button [showButtonCondition]="getShowButtonCondition(buttons.edit.name)"
                      [buttonType]="buttons.edit.buttonType"
                      [buttonCssClasses]="buttons.edit.buttonCssClasses"
                      [iconCssClasses]="buttons.edit.iconCssClasses"
                      [translationKeyForButtonText]="buttons.edit.translationKeyForButtonText"
                      (clickEvent)="onButtonClick($event, buttons.edit.name)"></app-button>
          <app-button [showButtonCondition]="getShowButtonCondition(buttons.delete.name)"
                      [buttonType]="buttons.delete.buttonType"
                      [buttonCssClasses]="buttons.delete.buttonCssClasses"
                      [iconCssClasses]="buttons.delete.iconCssClasses"
                      [translationKeyForButtonText]="buttons.delete.translationKeyForButtonText"
                      (clickEvent)="onButtonClick($event, buttons.delete.name)"></app-button>
        </div>
      </div>
      <div class="cp-datagrid__container" *ngIf="timesheets.length !== 0">
        <table class="ns-table">
          <thead>
          <tr *ngIf="isRowDisplayed">
            <th class="cp-datagrid__th__checkbox" (click)="$event.stopPropagation()">
              <i [class]="allItemsSelected() ? 'far fa-check-square' : selectedItems.size > 0 ? 'far fa-minus-square' : 'far fa-square'"
                 [style]="selectedItems.size > 0 ? 'color: #767676' : ''"
                 (click)="toggleSelectAllItems(); $event.stopPropagation()"></i>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.name)">
              {{getFieldDisplayName(fields.name)}}
              <app-sort *ngIf="isSortable(fields.name)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.name"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.employee)">
              {{getFieldDisplayName(fields.employee)}}
              <app-sort *ngIf="isSortable(fields.employee)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.employee"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.month)">
              {{getFieldDisplayName(fields.month)}}
              <app-sort *ngIf="isSortable(fields.month)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.month"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.year)">
              {{getFieldDisplayName(fields.year)}}
              <app-sort *ngIf="isSortable(fields.year)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.year"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.status)">
              {{getFieldDisplayName(fields.status)}}
              <app-sort *ngIf="isSortable(fields.status)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.status"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.totalHours)">
              {{getFieldDisplayName(fields.totalHours)}}
              <app-sort *ngIf="isSortable(fields.totalHours)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.totalHours"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.totalManDays)">
              {{getFieldDisplayName(fields.totalManDays)}}
              <app-sort *ngIf="isSortable(fields.totalManDays)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.totalManDays"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.numberOfTimesheetEntries)">
              {{getFieldDisplayName(fields.numberOfTimesheetEntries)}}
              <app-sort *ngIf="isSortable(fields.numberOfTimesheetEntries)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.numberOfTimesheetEntries"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <th class="cp-datagrid__th" *ngIf="isColumnShown(fields.numberOfTimesheetRemarks)">
              {{getFieldDisplayName(fields.numberOfTimesheetRemarks)}}
              <app-sort *ngIf="isSortable(fields.numberOfTimesheetRemarks)"
                        [elementFullName]="elementFullName"
                        [sortField]="fields.numberOfTimesheetRemarks"
                        (changeSortDataEvent)="onChangeSortData($event)">
              </app-sort>
            </th>
            <!--<th class="cp-datagrid__th"></th>-->
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let timesheet of timesheets; trackBy: trackByExternalId">
            <tr (click)="handleClickOnRow(timesheet)" *ngIf="isRowDisplayed">
              <td class="cp-datagrid__td__checkbox">
                <i [class]="isRowSelected(timesheet.externalId) ? 'far fa-check-square' : 'far fa-square'"
                   [style]="isRowSelected(timesheet.externalId) ? 'color: #767676' : ''"
                   (click)="toggleSelectItem(timesheet); $event.stopPropagation()"></i>
              </td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.name)">{{timesheet.name}}</td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.employee)">
                <a *ngIf="timesheet.employee" (click)="$event.stopPropagation()"
                   routerLink="/e-crystal/enterprise/employee/{{timesheet.employee.externalId}}">
                  {{timesheet.employee.name}}
                </a>
              </td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.month)">{{timesheet.month}}</td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.year)">{{timesheet.year}}</td>
              <td class="cp-datagrid__td element-list-status"
                  *ngIf="isColumnShown(fields.status)"
                  [class.element-list-status-open]="timesheet.status === 'Open'">
                {{timesheet.status}}
              </td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.totalHours)">{{timesheet.totalHours}}</td>
              <td class="cp-datagrid__td"
                  *ngIf="isColumnShown(fields.totalManDays)">{{timesheet.totalManDays  | number : '1.0-2'}}</td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.numberOfTimesheetEntries)">
                <div [class.element-list-no-subitem]="timesheet.numberOfTimesheetEntries === 0">
                  <i class="fas fa-list"></i> &nbsp;
                  {{timesheet.numberOfTimesheetEntries}}
                </div>
              </td>
              <td class="cp-datagrid__td" *ngIf="isColumnShown(fields.numberOfTimesheetRemarks)">
                <div [class.element-list-no-subitem]="timesheet.numberOfTimesheetRemarks === 0">
                  <!-- Create an icon wrapped by the fa-stack class -->
                  <!--<span class="fa-stack">
                    &lt;!&ndash; The icon that will wrap the number &ndash;&gt;
                    <span class="far fa-comment fa-stack-2x"></span>
                  &lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;
                    <span class="fa-stack-1x">
                        {{timesheet.numberOfTimesheetRemarks}}
                    </span>
                  </span>-->
                  <i class="far fa-comment"></i> &nbsp;
                  {{timesheet.numberOfTimesheetRemarks}}
                </div>
              </td>
              <!--<td class="cp-datagrid__td">
                <div class="element-list-action-button-wrapper">
                  <div class="element-list-action-button-icon-wrapper"
                       (click)="goToEditTimesheetForm(timesheet.externalId)"
                       *ngIf="isAdmin">
                    <div>
                      <i class="fas fa-pen"></i>
                    </div>
                  </div>
                  <form novalidate *ngIf="isAdmin">
                    <div class="element-list-action-button-icon-wrapper">
                      <button class="element-list-button-inside-action-menu" type="button"
                              (click)="resetSelectedItems(); addSelectedItem(timesheet); showDialog(); $event.stopPropagation()">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </td>-->
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      <div class="cp-datagrid__controls">
        <div class="cp-datagrid__controls-cell cell--start">
          <app-table-control [fields]="fields"
                             [defaultHideFields]="defaultHideFields"
                             [elementFullName]="elementFullName"
                             (changePageSizeEvent)="onChangePageSize($event)">
          </app-table-control>
        </div>
        <div class="cp-datagrid__controls-cell cell--end">
          <app-pagination [paginationIn]="paginationIn"
                          [links]="links"
                          [page]="page"
                          (changePageEvent)="changePage($event)">
          </app-pagination>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="element-list-filter-component-wrapper">
    <div class="element-list-filter-collapse-expand-button-wrapper" (click)="toggleFilterDisplay()">
      <i [classList]="isFilterExpand ? 'fas fa-chevron-right' : 'fas fa-chevron-left'"></i>
    </div>
    <div class="element-list-filter" *ngIf="isFilterExpand">
      <app-filter></app-filter>
    </div>
  </div>-->

</section>



