<section class="element-filter">
  <div class="element-filter-header">
    <div class="element-filter-options-wrapper">
      <div class="element-filter-option-wrapper"
           *ngFor="let option of filterOptions">
        <div class="element-filter-option"
             (click)="toggleFilterOptionDisplay(option)">
          <i [classList]="isFilterOptionChosen(option) ? 'far fa-check-square' : 'far fa-square'"></i>
          {{getFieldDisplayName(option)}}
        </div>
      </div>
    </div>
  </div>
  <div class="element-filter-options-content-wrapper">
    <div class="element-filter-form-wrapper">
      <form class="element-filter-form" *ngIf="selectedFilterOptions.length !== 0"
            novalidate>
        <div class="element-filter-option-content"
             *ngIf="isFilterOptionChosen(fields.employee)">
          <app-employee-dropdown
            [searchBy]="dropdownInputData('enterprise.employee').searchBy"
            [dropdownIn]="dropdownIn"
            [dropdownInitialValue]="null"
            [required]="dropdownInputData('enterprise.employee').required"
            (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('enterprise.employee').elementFullName)"
          ></app-employee-dropdown>
        </div>
        <div class="element-filter-option-content"
             *ngIf="isFilterOptionChosen(fields.timesheet)">
          <app-timesheet-dropdown
            [searchBy]="dropdownInputData('erpTimesheets.timesheet').searchBy"
            [dropdownIn]="dropdownIn"
            [dropdownInitialValue]="null"
            [required]="dropdownInputData('erpTimesheets.timesheet').required"
            (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('erpTimesheets.timesheet').elementFullName)"
          ></app-timesheet-dropdown>
        </div>
        <div class="element-filter-option-content"
             *ngIf="isFilterOptionChosen(fields.project)">
          <app-project-dropdown
            [searchBy]="dropdownInputData('enterprise.project').searchBy"
            [dropdownIn]="dropdownIn"
            [dropdownInitialValue]="null"
            [required]="dropdownInputData('enterprise.project').required"
            (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('enterprise.project').elementFullName)"
          ></app-project-dropdown>
        </div>
        <div class="element-filter-option-content"
             *ngIf="isFilterOptionChosen(fields.subproject)">
          <app-subproject-dropdown
            [searchBy]="dropdownInputData('enterprise.subproject').searchBy"
            [dropdownIn]="dropdownIn"
            [dropdownInitialValue]="null"
            [required]="dropdownInputData('enterprise.subproject').required"
            (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('enterprise.subproject').elementFullName)"
          ></app-subproject-dropdown>
        </div>
        <div class="element-filter-option-content"
             *ngIf="isFilterOptionChosen(fields.workingMonth)">
          <app-workingmonth-dropdown
            [searchBy]="dropdownInputData('enterprise.workingMonth').searchBy"
            [dropdownIn]="dropdownIn"
            [dropdownInitialValue]="null"
            [required]="dropdownInputData('enterprise.workingMonth').required"
            (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('enterprise.workingMonth').elementFullName)"
          ></app-workingmonth-dropdown>
        </div>
        <div class="element-filter-option-content" *ngIf="isFilterOptionChosen(fields.status)">
          <app-dropdown
            [elementFullName]="elementFullName"
            [dropdownIn]="dropdownIn"
            dropdownFieldName="status"
            [dropdownOptions]="statusDropdownOptions"
            (chosenItemModifiedEvent)="fieldDropdownChosenItemModifiedHandler($event, fields.status)"
          ></app-dropdown>
        </div>
        <div class="element-filter-form-buttons-wrapper">
          <div class="element-filter-clear-filter" (click)="clearFilters()">
            {{getDisplayText('reset')}}
          </div>
          <div>
            <button type="button"
                    class="element-filter-standard-submit-button"
                    (click)="applyFilter()">
              {{getDisplayText('apply')}}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="element-filter-form-supports-wrapper">
      <div class="element-filter-form-support" *ngIf="isFilterListShown || showListForFirstFilter">
        <app-timesheetentry-filter-list [fieldsToBeDisplayed]="fieldsToBeDisplayed"></app-timesheetentry-filter-list>
      </div>
    </div>
  </div>
</section>
