<div class="app-page-header">
  <app-alert></app-alert>

  <div class="header-container">
    <div class="header-pagetitle">
      <div class="pagetitle">
        {{pageTitle}}
      </div>
    </div>
    <div class="header-topbar">
      <div class="topbar">
        <div class="language">
          <div *ngFor="let language of languages"
               [classList]="isLanguageChosen(language) ? 'app-header-language-active' : 'app-header-language'"
               (click)="chooseLanguage(language)">
            {{language.abbr}}
          </div>
        </div>
        <div class="app-header-user-avatar-image-wrapper app-header-content-top-right-item app-header-user-avatar-component">
          {{currentUser.username | uppercase | slice : 0 : 1 }}
        </div>
        <div class="user-menu app-header-user-menu">
          <div class="user-menu-header">
            <div class="user-menu-icon">
              <div class="user-menu-logo"></div>
            </div>
            <div class="user-menu-name">
              {{currentUser.username}}
              <div class="user-title">Junior Developer</div>
            </div>
          </div>
          <div class="user-menu-content">
            <!--<div class="user-menu-content-item">
              <div class="user-menu-icon">
                <i class="fas fa-user"></i>
              </div>
              <div>
                Profile
              </div>
            </div>-->
            <div class="user-menu-content-item" (click)="logout()">
              <div class="user-menu-content-icon">
                <i class="fas fa-sign-out-alt"></i>
              </div>
              <div>
                {{getDisplayText('logout')}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-breadcrumbs">
      <div class="breadcrumbs">
        <ng-container *ngFor="let element of breadcrumbs; index as i">
          <div class="breadcrumbs-item-separator"
               *ngIf="i !== 0 && element.label !== ''">
            /
          </div>
          <a routerLink="{{element.url}}" class="breadcrumbs-item">
            <span [classList]="i === breadcrumbs.length - 1 ? 'breadcrumbs-text-active' : 'breadcrumbs-text'">
              <span *ngIf="i === 0"><i class="fas fa-home"></i>&nbsp;</span>
              {{element.label}}
            </span>
          </a>
        </ng-container>
      </div>
    </div>
    <div class="header-toolbar"></div>
  </div>
</div>
