<div class="app-header">
  <div [classList]="isNavBarExpand ? 'header' : 'header-collapse'">
    <div class="collapse-expand-button-wrapper"
         (click)="toggleNavBar()">
      <div class="collapse-expand-button">
        <i [classList]="isNavBarExpand ? 'fas fa-chevron-left' : 'fas fa-chevron-right'"></i>
      </div>
    </div>
    <div class="header-content-wrapper">
      <div class="header-content">
        <div class="header-content-left">
          <div class="header-company-logo">
            <a class="header-company-logo-image-wrapper" routerLink="/">
              <img [src]="isNavBarExpand ? 'assets/images/logo.png' : 'assets/images/logo-2.png'" alt="e-crystal">
            </a>
          </div>
          <div class="header-navbar">
            <div class="header-navbar-component">
              <app-nav></app-nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
