// * -----------------------------------------------------------------------------
// 4 May 2021 at 13:33:54
// Alert
// ----------------------------------------------------------------------------- */
%alert {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: auto;

  width: max-content;
  min-width: $spacer-lg * 50;

  padding: $spacer-md;
  margin-left: -(($spacer-lg * 50) / 2);

  border-radius: $default-radius;

  @include layer("modal");
}

.cp-alert__container {
  position: absolute;
  //top: 128px;
  left: 50%;
}

.cp-alert {
  @extend %alert;
}

.cp-alert__message {
  grid-column: 1;
  justify-self: start;
}

.cp-alert__icon {
  grid-column: 2;
  justify-self: end;
}

.cp-alert__close {
  float: right;
  cursor: pointer;

  @include font-size($font-size-body);
}

// * Colours
// ----------------------------------------------------------------------------- */
.cp-alert--danger {
  background-color: tint($state-danger, 88%);
  border: 1px solid tint($state-danger, 88%);
  color: $state-danger;

  & .cp-alert__close i {
    color: $state-danger;
  }
}

.cp-alert--warning {
  background-color: tint($state-warning, 88%);
  border: 1px solid tint($state-warning, 88%);
  color: $state-warning;

  & .cp-alert__close i {
    color: $state-warning;
  }
}

.cp-alert--success {
  background-color: tint($state-success, 88%);
  border: 1px solid tint($state-success, 88%);
  color: $state-success;

  & .cp-alert__close i {
    color: $state-success;
  }
}

.cp-alert--info {
  background-color: tint($state-info, 88%);
  border: 1px solid tint($state-info, 88%);
  color: $state-info;

  & .cp-alert__close i {
    color: $state-info;
  }
}
