// * -----------------------------------------------------------------------------
// 3 Mar 2021 at 09:46:10
// Datagrid Controls
// ----------------------------------------------------------------------------- */
.cp-datagrid-controls {
  display: flex;
  flex-direction: row;
}

.cp-datagrid-controls__wrapper {
  display: flex;
  flex-direction: row;

  background-color: $grey-10;
  color: $text-color;
  border-radius: $default-radius;

  padding: $spacer-sm $spacer-md;
  margin: 0 $spacer-sm;

  &:hover {
    background-color: $grey-20;
  }
}

.cp-datagrid-controls__dropdown-wrapper {
  position: relative;
}

.page-size__text {
  & i {
    margin-left: $spacer-sm;
  }
}

.cp-datagrid__dropdown {
  position: absolute;
  top: 30px;
  left: -16px;

  width: 200px;

  border: 1px solid $grey-40;
  border-radius: 5px;
  background-color: $white;
  box-shadow: $box-shadow;

  z-index: 2;

  &.page-size {
    width: 80px;
  }
}

.cp-datagrid__dropdown-item {
  display: flex;
  flex-direction: row;

  padding: $spacer-xs $spacer-sm;
  cursor: pointer;

  &:hover {
    background-color: $nsBlue-10;
  }

  & i {
    margin-right: $spacer-sm;
    padding: $spacer-sm $spacer-xs;
  }

  & .field {
    padding: $spacer-xs $spacer-sm;
  }
}
