.sort-button-wrapper {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
  cursor: pointer;
  position: absolute;
  font-size: 13px;
  top: -10px;
  left: calc(50% - 10px);
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.clear-sort-button {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
  font-size: 0.7rem;
  position: absolute;
  top: -10px;
  z-index: 3;
  background: #ffffff;
  border-radius: 20px;
  left: calc(50% + 10px);
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.sort-button-wrapper:hover,
.sort-button-wrapper-active,
.clear-sort-button:hover {
  color: #ffffff;
  background-color: #0085ff;
}

th:hover .clear-sort-button {
  visibility: visible;
}
