// * -----------------------------------------------------------------------------
// 6 May 2021 at 13:09:58
// Tabs
// ----------------------------------------------------------------------------- */
/*
.element-detail {
  width: 100%;
  min-height: 100%;
  min-width: 1300px;
  display: flex;
  flex-direction: column;
}
!* ----- PAGE CONTENT ----- *!

.element-detail-page-content {
  flex: 100%;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: minmax(0, 7fr) minmax(0, 3fr);
}
*/

/* ----- TABS ----- */
.ns-tabs__wrapper {
  position: relative;

  background-color: $white;
  border-radius: $default-radius;

  padding: $spacer-lg $spacer-xl;
}

.ns-tabs__arrow {
  cursor: pointer;
  display: block;
  text-decoration: none;
  position: absolute;
  top: $spacer-lg;

  @include layer("toolbar");

  padding: $spacer-sm;
  background-color: rgba($white, 0.85);
}

.ns-tabs__left-arrow {
  left: $spacer-md;
  margin-left: $spacer-xs;
  padding-right: $spacer-lg;
}

.ns-tabs__right-arrow {
  right: $spacer-md;
  margin-right: $spacer-xs;
  padding-left: $spacer-lg;
}

.ns-tabs__container {
  margin: 0 $spacer-md;
  border-bottom: 1px solid $grey-20;
  overflow: hidden;
}

.ns-tabs__container-buttons {
  display: inline-block;
  margin-left: 0;
  transition: all 0.3s linear;

  white-space: nowrap;
  margin-bottom: -1px;
}

.ns-tabs__links {
  box-sizing: border-box;
  padding: $spacer-sm $spacer-md $spacer-lg $spacer-md;
  display: inline-block;
  cursor: pointer;

  color: $grey-60;
  border-bottom: 2px solid transparent;
}

.active {
  color: $primary;
  border-bottom-color: $primary;
}

.active:hover {
  color: $accent;
  border-bottom-color: $accent;
}

/* ----- MAIN TABLE ----- */

/*
.element-detail-main-table-wrapper {
  padding: 20px;
  !*flex: 30%;*!
  min-width: 400px;
  max-width: 600px;
  min-height: 100%;
}

!*  Header  *!

.element-detail-main-table-header {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  border-bottom: 1px solid #cccccc;
}

.element-detail-main-table-header h3 {
  font-size: 1.2rem;
}

!*  Action buttons  *!

.element-detail-action-button-wrapper {
  display: flex;
}

.element-detail-action-button-icon-wrapper {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #e6e9ef;
  cursor: pointer;
}

.element-detail-action-button-icon-wrapper:hover {
  color: #767676;
}

.element-detail-button-inside-action-menu {
  border: none;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
}

!*  Table  *!

.element-detail-table-wrapper {
  padding: 20px;
}

.element-detail-table {
  width: 100%;
}

.element-detail-th,
.element-detail-td {
  text-align: left;
  color: #666666;
  background-color: #f5f6f8;
  padding: 2px 10px;
}

!*  Custom columns  *!

!*  Status  *!

.element-detail-status-open {
  background-color: #00c875;
  color: #ffffff;
}

!* ----- LINKS ----- *!

a {
  color: #1f76c2;
  text-decoration: none;
}

a:hover {
  color: #0085ff;
}
*/
