// * -----------------------------------------------------------------------------
// 26 Feb 2021 at 13:15:38
// Component Datagrid
// ----------------------------------------------------------------------------- */
.cp-datagrid__container {
  overflow-x: auto;

  margin: $spacer-md 0;
}

.cp-datagrid__th,
.cp-datagrid__th__checkbox {
  position: relative;

  @include font-size($font-size-small);
  text-transform: uppercase;
  text-align: left;

  color: $grey-60;

  cursor: default;
}

.cp-datagrid__th__checkbox {
  @include font-size($font-size-body);
}

.cp-datagrid__th__checkbox i {
  cursor: pointer;
}

.cp-datagrid__td {
  color: $text-color;

  @include font-size($font-size-body);
}

.cp-datagrid__td__checkbox {
  color: $grey-40;
}

.cp-datagrid__td__checkbox i {
  cursor: pointer;
}

/*.d-block i {
  display: block;
}*/

// Class describes only if isAdmin - Investigate
// * =============================================================================
/*.element-list-button-inside-action-menu {
  border: none;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
}*/
// * =============================================================================

.cp-datagrid__controls {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-gap: $spacer-md;
}

.cp-datagrid__controls-cell {
  margin: 0;

  & .cell--start {
    justify-self: start;
    align-self: center;
  }
  & .cell--center {
    justify-self: center;
    align-self: center;
  }
  &.cell--end {
    justify-self: end;
    align-self: center;
  }
}

/*  Sub items icons  */
.element-list-subitem {
  cursor: pointer;
}

.element-list-subitem-title {
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
  border-bottom: 4px solid #0085ff;
}

.element-list-subitem:hover {
  color: #0085ff;
}

.element-list-no-subitem {
  color: #cccccc;
}
