// * -----------------------------------------------------------------------------
// 5 May 2021 at 10:34:20
// Dialog
// ----------------------------------------------------------------------------- */
.ns-dialog {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  @include layer("modal");

  background-color: rgba($black, 0.4);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

// * Structure
// ----------------------------------------------------------------------------- */
.ns-dialog__wrapper {
  min-width: 400px;

  padding: $spacer-sm;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: $default-radius;
}

.ns-dialog__header {
  background-color: $grey-10;
  border-radius: $default-radius;

  padding: $spacer-lg;

  color: $state-danger;
  text-align: center;

  & i {
    @include font-size($font-size-h3);
  }
}

.ns-dialog__content {
  padding: $spacer-xl;

  text-align: center;
}

// * Elements
// ----------------------------------------------------------------------------- */
.ns-dialog__title {
  @include font-size($font-size-lead);
  font-weight: $semi-bold;

  margin-top: $spacer-sm;
}
