// * -----------------------------------------------------------------------------
// 3 Mar 2021 at 09:46:54
// Pagination
// ----------------------------------------------------------------------------- */
.cp-pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cp-pagination__statistics {
  @include font-size($font-size-small);
  font-weight: $medium;
  color: $grey-80;
  text-transform: uppercase;

  margin: $spacer-sm $spacer-lg;
}

.cp-pagination__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cp-pagination__first,
.cp-pagination__last,
.cp-pagination__previous,
.cp-pagination__next {
  width: $spacer-xl;
  height: $spacer-xl;
  min-width: $spacer-lg;

  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  text-align: center;

  background-color: $grey-20;
  color: $grey-80;
  border-radius: $default-radius;

  margin: 0 $spacer-xs;
  padding: $spacer-sm;

  &:hover {
    background-color: $nsBlue;
    color: $white;
  }
}

.cp-pagination__first--inactive,
.cp-pagination__last--inactive,
.cp-pagination__previous--inactive,
.cp-pagination__previous--inactive {
  @extend .cp-pagination__first;

  background-color: $grey-10;
  color: $grey-40;

  &:hover {
    background-color: $grey-10;
    color: $grey-40;
  }
}

.cp-pagination__info {
  @include font-size($font-size-small);
  font-weight: $medium;
  color: $grey-80;
  text-transform: uppercase;

  margin: $spacer-sm;
}
