// * -----------------------------------------------------------------------------
// 19 Feb 2021 at 10:01:30
// Component Filter - Timesheet Entry
// ----------------------------------------------------------------------------- */
.element-filter {
  // .element-filter-header {
  //   // /*border-bottom: 1px solid #e6e9ef;*/
  // }

  .element-filter-options-wrapper {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  }

  .element-filter-option-wrapper {
    cursor: pointer;
    flex-basis: 50%;
  }

  .element-filter-options-wrapper > div {
    padding: 0 20px 10px 20px;
  }

  // .element-filter-options-content-wrapper {
  //   //overflow-x: auto;
  // }

  .element-filter-option-wrapper:hover i {
    color: #0085ff;
  }

  .element-filter-option {
    white-space: nowrap;
  }

  // .element-filter-form-wrapper {
  //   min-width: 300px;
  //   flex: 40%;
  //   padding: 10px;
  // }

  .element-filter-form-supports-wrapper {
    flex: 60%;
    padding: 10px;
  }

  /* ----- FORM ----- */

  // .element-filter-fieldset {
  //   border: none;
  // }

  // .element-filter-legend {
  //   text-align: center;
  //   font-size: 1.2rem;
  //   margin-bottom: 1rem;
  // }

  // .element-filter-input,
  // .element-filter-select {
  //   width: 100%;
  //   height: 35px;
  //   display: flex;
  //   align-items: center;
  //   padding: 0 10px;
  //   border: 1px solid #ccc;
  //   border-radius: 4px;
  //   margin-top: 6px;
  //   margin-bottom: 16px;
  //   font-size: 1rem;
  // }

  // .element-filter-input:focus,
  // .element-filter-select:focus {
  //   outline: none;
  // }

  // .element-filter-standard-submit-button {
  //   width: 100%;
  //   border: none;
  //   border-radius: 4px;
  //   height: 35px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   margin-top: 6px;
  //   margin-bottom: 16px;
  //   background-color: #4caf50;
  //   color: #ffffff;
  //   font-size: 1rem;
  //   cursor: pointer;
  // }

  // .element-filter-standard-submit-button:hover {
  //   background-color: #45a049;
  // }

  // .element-filter-standard-submit-button:focus {
  //   outline: none;
  // }

  // .element-filter-dropdown-input-wrapper {
  //   position: relative;
  //   width: 100%;
  // }

  // .element-filter-dropdown-button-wrapper {
  // }

  // .element-filter-input-group {
  //   display: flex;
  // }

  // .element-filter-input-group-main-section {
  //   flex-basis: 100%;
  // }

  // .element-filter-input-group-main-section input {
  //   border-radius: 4px 0 0 4px;
  //   border-right: none;
  // }

  // .element-filter-input-append {
  //   border: 1px solid #ccc;
  //   border-right: none;
  //   width: 40px;
  //   margin-top: 6px;
  //   margin-bottom: 16px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   cursor: pointer;
  // }

  // .element-filter-input-append:last-child {
  //   border-right: 1px solid #cccccc;
  //   border-radius: 0 4px 4px 0;
  // }

  .element-filter-clear-input {
    margin-top: 6px;
    height: 35px;
    display: flex;
    padding-right: 10px;
    align-items: center;
    cursor: pointer;
    color: #e6e9ef;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }

  .element-filter-clear-input:hover {
    color: #767676;
  }

  .element-filter-input-append:hover {
    background-color: #e6e9ef;
  }

  // .element-filter-dropdown-options-wrapper {
  //   background-color: #ffffff;
  //   width: max-content;
  //   min-width: 100%;
  //   max-height: 175px;
  //   overflow-x: hidden;
  //   overflow-y: scroll;
  //   position: absolute;
  //   z-index: 2;
  //   top: 65px;
  //   border: 1px solid #cccccc;
  //   border-radius: 4px;
  //   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  // }

  // .element-filter-dropdown-option {
  //   height: 35px;
  //   display: flex;
  //   align-items: center;
  //   padding: 0 10px;
  //   cursor: pointer;
  // }

  // .element-filter-dropdown-option:hover {
  //   background-color: #e6e9ef;
  // }

  // .element-filter-dropdown-option-last {
  //   font-style: italic;
  // }

  /* ----- CUSTOM FORM STYLE FOR FILTER ONLY ----- */
  // .element-filter-form-buttons-wrapper {
  //   display: flex;
  // }

  // .element-filter-form-buttons-wrapper > div {
  //   flex: 50%;
  // }

  // .element-filter-clear-filter {
  //   width: 100%;
  //   height: 35px;
  //   border-radius: 4px;
  //   margin-top: 6px;
  //   margin-bottom: 16px;
  //   margin-right: 3px;
  //   border: 1px solid #cccccc;
  //   color: #767676;
  //   font-size: 1rem;
  //   cursor: pointer;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // .element-filter-clear-filter:hover {
  //   background-color: #e6e9ef;
  // }
}
