<section class="element-filter">
  <div class="element-filter-header">
    <div class="element-filter-options-wrapper">
      <div class="element-filter-option-wrapper"
           *ngFor="let option of filterOptions">
        <div class="element-filter-option"
             (click)="toggleFilterOptionDisplay(option)">
          <i [classList]="isFilterOptionChosen(option) ? 'far fa-check-square' : 'far fa-square'"></i>
          {{getFieldDisplayName(option)}}
        </div>
      </div>
    </div>
  </div>
  <div class="element-filter-options-content-wrapper">
    <div class="element-filter-form-wrapper">
      <form class="element-filter-form"
            novalidate>
        <app-employee-search *ngIf="isFilterOptionChosen(fields.name)"
                             [fieldName]="fields.name"></app-employee-search>
        <div class="element-filter-option-content"
             *ngIf="isFilterOptionChosen(fields.employeeType)">
          <app-employeetype-dropdown
            [searchBy]="dropdownInputData('enterprise.employeeType').searchBy"
            [dropdownIn]="dropdownIn"
            [dropdownInitialValue]="null"
            [required]="dropdownInputData('enterprise.employeeType').required"
            (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, dropdownInputData('enterprise.employeeType').elementFullName)"
          ></app-employeetype-dropdown>
        </div>
        <app-employee-search *ngIf="isFilterOptionChosen(fields.email)"
                             [fieldName]="fields.email"></app-employee-search>
        <app-employee-search *ngIf="isFilterOptionChosen(fields.mobile)"
                             [fieldName]="fields.mobile"></app-employee-search>
        <div class="element-filter-option-content" *ngIf="isFilterOptionChosen(fields.active)">
          <div>
            <label for="{{fields.active}}">{{getFieldDisplayName(fields.active)}}</label>
            <input class="element-filter-input"
                   [(ngModel)]="formModel.active"
                   type="text" id="{{fields.active}}" name="{{fields.active}}">
          </div>
        </div>
        <div class="element-filter-form-buttons-wrapper">
          <div class="element-filter-clear-filter" (click)="clearFilters()">
            {{getDisplayText('reset')}}
          </div>
          <div>
            <button type="button"
                    class="element-filter-standard-submit-button"
                    (click)="applyFilter()">
              {{getDisplayText('apply')}}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="element-filter-form-supports-wrapper">
      <div class="element-filter-form-support" *ngIf="isFilterListShown || showListForFirstFilter">
        <app-employee-filter-list [fieldsToBeDisplayed]="fieldsToBeDisplayed"></app-employee-filter-list>
      </div>
    </div>
  </div>

</section>
