// * -----------------------------------------------------------------------------
// *Saturday 01 Dec 2018 - Time: 09:15*
// Variables
// ----------------------------------------------------------------------------- */

// * Screensize
// ----------------------------------------------------------------------------- */
$phone-size: 599px;
$tablet-size-portrait: 600px;
$tablet-size-landscape: 900px;
$desktop: 1200px;
$desktop-big: 1800px;

// * Spacer
// https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
// ----------------------------------------------------------------------------- */
$spacer-xs: 4px;
$spacer-sm: 8px;
$spacer-md: 16px;
$spacer-lg: 24px;
$spacer-xl: 32px;
$spacer-xxl: 64px;
$spacer-xxxl: 80px;

// Buttons Spacer
$btn-spacer: ($spacer-md - 4) $spacer-lg;
$btn-spacer--small: $spacer-sm $spacer-md;
$btn-spacer--grid: $spacer-xs $spacer-sm;

// * Padding
// ----------------------------------------------------------------------------- */
$spacer-inset-xs: 4px 4px 4px 4px;
$spacer-inset-sm: 8px 8px 8px 8px;
$spacer-inset-md: 16px 16px 16px 16px;
$spacer-inset-lg: 24px 24px 24px 24px;
$spacer-inset-xl: 32px 32px 32px 32px;
$spacer-inset-xxl: 64px 64px 64px 64px;
$spacer-inset-xxxl: 80px 80px 80px 80px;

// * Margin
// ----------------------------------------------------------------------------- */
$spacer-stack-xs: 4px 0 0 0;
$spacer-stack-sm: 8px 0 0 0;
$spacer-stack-md: 16px 0 0 0;
$spacer-stack-lg: 24px 0 0 0;
$spacer-stack-xl: 32px 0 0 0;
$spacer-stack-xxl: 64px 0 0 0;
$spacer-stack-xxxl: 80px 0 0 0;

// * Font Families
// ----------------------------------------------------------------------------- */
$font-family-base: "Maven pro";
$font-family-headings: "Maven pro";
$font-family-monospace: "Source code pro", monospace;

// * Font Sizes
// ----------------------------------------------------------------------------- */
$basefont: 16;
$base-line-height: 1.2;

$font-size-uber: 83;
$font-size-hero: 69;

$font-size-h1: 48;
$font-size-h2: 40;
$font-size-h3: 33;
$font-size-h4: 28;
$font-size-h5: 23;

$font-size-lead: 19;
$font-size-body: 16;
$font-size-small: 13;
$font-size-caption: 11;
$font-size-tiny: 9;

// * Font Weights
// ----------------------------------------------------------------------------- */
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// * Readable width
// ----------------------------------------------------------------------------- */
$readable: 45rem;

// * Animation
// ----------------------------------------------------------------------------- */
$animation-duration: 300ms;
$animation-easing: ease;

$animation-ease: $animation-duration $animation-easing;

// * Radius
// ----------------------------------------------------------------------------- */
$default-radius: 8px;

// * Z-index
// ----------------------------------------------------------------------------- */
$z-indexes: (
  "modal": 110,
  "overlay": 100,
  "statusbar": 90,
  "tooltip": 80,
  "flyout": 70,
  "datepicker": 60,
  "aside": 50,
  "header": 40,
  "toolbar": 30,
);

// * Box-shadow
// offset-x | offset-y | blur-radius | color *
// ----------------------------------------------------------------------------- */
$box-shadow: $spacer-lg / 3 $spacer-lg / 3 $spacer-lg / 2 rgba($black, 0.05) !default;
$box-shadow-reverse: $spacer-lg / 3 $spacer-lg / -3 $spacer-lg / 2
  rgba($black, 0.05) !default;

// * Badge
// ----------------------------------------------------------------------------- */
$badge-height: 21px;

$badge-font-size: 11px;
$badge-line-height: 12px;

// * Input
// ----------------------------------------------------------------------------- */
$input-height: $spacer-lg * 2;
$input-padding: 0 $spacer-md;

$select-height: $input-height;
$select-padding: $spacer-xs $spacer-md;

$textarea-height: 12rem;
$textarea-padding: $spacer-sm $spacer-md;
