// * -----------------------------------------------------------------------------
// 10 Sep 2019 at 09:34:36
// Colors
// ----------------------------------------------------------------------------- */

// * Theme analogue colors
// ----------------------------------------------------------------------------- */
$primary: rgb(0, 67, 105);
$secondary: rgb(146, 0, 48);

$nsBlue: $primary;
$nsBlue-10: rgb(230, 236, 240);
$nsBlue-20: rgb(204, 217, 225);
$nsBlue-30: rgb(178, 199, 210);
$nsBlue-40: rgb(153, 180, 195);
$nsBlue-50: rgb(128, 161, 180);
$nsBlue-60: rgb(102, 142, 165);
$nsBlue-70: rgb(77, 123, 150);
$nsBlue-80: rgb(51, 105, 135);
$nsBlue-90: rgb(26, 86, 120);
// * =============================================================================
$nsBlue-110: rgb(0, 57, 94);
$nsBlue-120: rgb(0, 49, 81);
$nsBlue-130: rgb(0, 41, 69);
$nsBlue-140: rgb(0, 32, 56);
$nsBlue-150: rgb(0, 23, 43);

$nsRed: $secondary;
$nsRed-10: rgb(244, 230, 234);
$nsRed-20: rgb(233, 204, 214);
$nsRed-30: rgb(222, 178, 193);
$nsRed-40: rgb(211, 153, 172);
$nsRed-50: rgb(201, 128, 152);
$nsRed-60: rgb(190, 102, 131);
$nsRed-70: rgb(179, 77, 110);
$nsRed-80: rgb(168, 51, 89);
$nsRed-90: rgb(157, 26, 69);

$accent: rgb(2, 171, 254);

// * Black, White and Greys
// ----------------------------------------------------------------------------- */
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

// * Neutral Greys
// ----------------------------------------------------------------------------- */
$grey-10: rgb(243, 243, 243);
$grey-20: rgb(230, 230, 230);
$grey-30: rgb(218, 218, 218);
$grey-40: rgb(206, 206, 206);
$grey-50: rgb(193, 193, 193);
$grey-60: rgb(181, 181, 181);
$grey-70: rgb(168, 168, 168);
$grey-80: rgb(119, 119, 119);
$grey-90: rgb(107, 107, 107);
$grey-100: rgb(95, 95, 95);
// * =============================================================================
$grey-110: rgb(83, 83, 83);
$grey-120: rgb(71, 71, 71);
$grey-130: rgb(60, 60, 60);
$grey-140: rgb(48, 48, 48);
$grey-150: rgb(36, 36, 36);

// * Notification colors
// ----------------------------------------------------------------------------- */
$apple: rgb(50, 180, 0);
$alzarin-crimson: rgb(218, 41, 28);
$sun: rgb(249, 176, 30);
$endeavour: rgb(0, 100, 180);

$orange: rgb(255, 86, 0);
$pink: rgb(246, 0, 142);
$pruple: rgb(168, 0, 141);
$cyan: rgb(0, 186, 197);

// * Define Notification colors
// ----------------------------------------------------------------------------- */
$state-success: $apple;
$state-info: $endeavour;
$state-warning: $sun;
$state-danger: $alzarin-crimson;
$state-disabled: $grey-70;

// * Overlay color
// ----------------------------------------------------------------------------- */
$overlay-color: rgba($black, 0.75);

// * Text color
// ----------------------------------------------------------------------------- */
$text-color: $grey-130;
