// * -----------------------------------------------------------------------------
// Functions
// ----------------------------------------------------------------------------- */

// * Is color
// * Checks for a valid CSS color.
// ----------------------------------------------------------------------------- */

@function _is-color($color) {
  @return (type-of($color) == color) or ($color == "currentColor");
}

// * Z-index
// ----------------------------------------------------------------------------- */
@function z-index($key) {
  @if not map-has-key($z-indexes, $key) {
    @warn "No layer found for `#{$key}` in $z-indexes map. Property omitted.";
  }

  @return map-get($z-indexes, $key);
}
