<section class="element-list">
  <div class="element-list__content">
    <div class="element-list__wrapper">
      <div class="ns-form">
        <form novalidate>
          <fieldset>
            <legend>{{getDisplayText('new')}}</legend>

            <div class="ns-form__wrapper">
              <app-employee-dropdown
                *ngIf="dropdownElements['enterprise.employee']"
                [searchBy]="employeeDropdown.searchBy"
                [dropdownIn]="dropdownIn"
                [dropdownInitialValue]="getDropdownInitialValue('enterprise.employee')"
                [required]="employeeDropdown.required"
                [hasExtraInfo]="employeeDropdown.hasExtraInfo"
                [errors]="employeeDropdown.errors"
                (chosenItemModifiedEvent)="chosenItemModifiedHandler($event, employeeDropdown.elementFullName)">
                custom code for extra info
              </app-employee-dropdown>

              <div class="ns-input__wrapper" *ngIf="inputFields.month">
                <div class="ns-input__header">
                  <div class="ns-input">
                    <label class="ns-input__label"
                           for="{{monthInput.fieldName}}">
                      {{getFieldDisplayName(monthInput.fieldName)}}
                    </label>
                    <div class="ns-input__question"
                         *ngIf="monthInput.hasExtraInfo"
                         (click)="toggleExtraInfo(monthInput)">
                      <i class="fas fa-question-circle"></i>
                    </div>
                  </div>
                  <!--only expanded if field is optional: <div class="ns-input__label-optional">{{getDisplayText('optional')}}</div>-->
                </div>
                <div class="ns-input__content">
                  <div class="ns-input">
                    <input class="ns-input__text"
                           [(ngModel)]="formModel.month"
                           type="text"
                           id="{{monthInput.fieldName}}"
                           name="{{monthInput.fieldName}}"
                           [required]="monthInput.required">
                  </div>
                </div>
                <div class="ns-input__notification"
                     *ngIf="monthInput.showExtraInfo || monthInput.errors.length > 0">
                  <div class="ns-input__notification-info"
                       *ngIf="monthInput.showExtraInfo">
                    custom code for extra info
                  </div>
                  <div class="ns-notification-input__wrapper ns-notification--danger"
                       *ngFor="let error of monthInput.errors">
                    <div class="ns-notification__message">{{getDisplayText(error.translationKey)}}</div>
                    <div class="ns-notification__icon">
                      <i class="fas fa-exclamation-triangle"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ns-input__wrapper" *ngIf="inputFields.year">
                <div class="ns-input__header">
                  <div class="ns-input">
                    <label class="ns-input__label"
                           for="{{yearInput.fieldName}}">
                      {{getFieldDisplayName(yearInput.fieldName)}}
                    </label>
                    <div class="ns-input__question">
                      <i class="fas fa-question-circle"
                         *ngIf="yearInput.hasExtraInfo"
                         (click)="toggleExtraInfo(yearInput)"></i>
                    </div>
                  </div>
                </div>
                <div class="ns-input__content">
                  <div class="ns-input">
                    <input class="ns-input__text"
                           [(ngModel)]="formModel.year"
                           type="text"
                           id="{{yearInput.fieldName}}"
                           name="{{yearInput.fieldName}}"
                           [required]="yearInput.required">
                  </div>
                </div>
                <div class="ns-input__notification"
                     *ngIf="yearInput.showExtraInfo || yearInput.errors.length > 0">
                  <div class="ns-input__notification-info"
                       *ngIf="yearInput.showExtraInfo">
                    custom code for extra info
                  </div>
                  <div class="ns-notification-input__wrapper ns-notification--danger"
                       *ngFor="let error of yearInput.errors">
                    <div class="ns-notification__message">{{getDisplayText(error.translationKey)}}</div>
                    <div class="ns-notification__icon">
                      <i class="fas fa-exclamation-triangle"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ns-button__container--1">
                <div class="ns-button__cell ns-text-right">
                  <app-button [showButtonCondition]="getShowButtonCondition(buttons.cancel.name)"
                              [buttonType]="buttons.cancel.buttonType"
                              [buttonCssClasses]="buttons.cancel.buttonCssClasses"
                              [iconCssClasses]="buttons.cancel.iconCssClasses"
                              [translationKeyForButtonText]="buttons.cancel.translationKeyForButtonText"
                              (clickEvent)="onButtonClick($event, buttons.cancel.name)"></app-button>
                  <app-button [showButtonCondition]="getShowButtonCondition(buttons.add.name)"
                              [buttonType]="buttons.add.buttonType"
                              [buttonCssClasses]="buttons.add.buttonCssClasses"
                              [iconCssClasses]="buttons.add.iconCssClasses"
                              [translationKeyForButtonText]="buttons.add.translationKeyForButtonText"
                              (clickEvent)="onButtonClick($event, buttons.add.name)"></app-button>
                </div>
              </div>
            </div>
          </fieldset>

        </form>
      </div>
    </div>
  </div>
  <!--<div class="element-form-filter-component-wrapper" *ngIf="isFilterMenuShown">
    <app-filter [showListForFirstFilter]="true"></app-filter>
  </div>-->
</section>
