<div class="sort-button-wrapper"
     [class.sort-button-wrapper-active]="sortData.sortBy === sortField"
     (click)="enableSort(sortField)">
  <div class="sort-button">
    <i [classList]="getSortCssClass(sortField)"></i>
  </div>
</div>
<div class="clear-sort-button"
     *ngIf="sortData.sortBy === sortField"
     (click)="clearSort()">
  {{getDisplayText('clear')}}
</div>
