// * -----------------------------------------------------------------------------
// 23 Feb 2021 at 09:51:12
// Content
// ----------------------------------------------------------------------------- */
.element-list {
  width: 100%;
  min-height: 100%;

  //display: grid;
  //grid-template-columns: 70% 30%;
}

.element-list__content {
  margin: $spacer-xl $spacer-md $spacer-lg $spacer-lg;
}

.element-list__filter {
  position: relative;

  margin: $spacer-xl $spacer-md;
}

.element-list__wrapper {
  display: flex;
  flex-direction: column;

  background-color: $white;
  border-radius: $default-radius;
  border: 1px solid $nsBlue-20;

  padding: $spacer-lg;
}


.element-detail {
  width: 100%;
  min-height: 100%;
  min-width: 1300px;
  display: flex;
  flex-direction: column;

  /* ----- PAGE CONTENT ----- */

  .element-detail-page-content {
    flex: 100%;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: minmax(0, 7fr) minmax(0, 3fr);
  }

  /* ----- TABS ----- */

  .element-detail-tabs-wrapper {
    max-width: 100%;
    position: relative;
  }

  .element-detail-arrow {
    cursor: pointer;
    display: block;
    text-decoration: none;
    position: absolute;
    z-index: 3;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.85);
  }

  .element-detail-leftArrow {
    left: 0;
    margin-left: 5px;
    padding-right: 20px;
  }

  .element-detail-rightArrow {
    right: 0;
    margin-right: 5px;
    padding-left: 20px;
  }

  .element-detail-tab {
    margin: 0 15px;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
  }

  .element-detail-tab-buttons {
    margin-left: 0;
    transition: all 0.3s linear;
    display: inline-block;
    white-space: nowrap;
    margin-bottom: -1px;
  }

  .element-detail-tab-links {
    box-sizing: border-box;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    border-bottom: 4px solid transparent;
  }

  .active {
    color: #767676;
    border-bottom-color: #cccccc;
  }

  .active:hover {
    color: #767676;
  }

  /* ----- MAIN TABLE ----- */

  .element-detail-main-table-wrapper {
    padding: 20px;
    /*flex: 30%;*/
    min-width: 400px;
    max-width: 600px;
    min-height: 100%;
  }

  /*  Header  */

  .element-detail-main-table-header {
    width: 100%;
    box-sizing: border-box;
    /*padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;*/
    border-bottom: 4px solid transparent;
    border-bottom: 1px solid #cccccc;
  }

  .element-detail-main-table-header h3 {
    font-size: 1.2rem;
  }

  /*  Action buttons  */

  .element-detail-action-button-wrapper {
    display: flex;
  }

  .element-detail-action-button-icon-wrapper {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #e6e9ef;
    cursor: pointer;
  }

  .element-detail-action-button-icon-wrapper:hover {
    color: #767676;
  }

  .element-detail-button-inside-action-menu {
    border: none;
    color: inherit;
    background-color: transparent;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
  }

  /*  Table  */

  .element-detail-table-wrapper {
    padding: 20px;
  }

  .element-detail-table {
    width: 100%;
  }

  .element-detail-th,
  .element-detail-td {
    text-align: left;
    color: #666666;
    background-color: #f5f6f8;
    padding: 2px 10px;
  }

  /*  Custom columns  */

  /*  Status  */

  .element-detail-status-open {
    background-color: #00c875;
    color: #ffffff;
  }

  /* ----- LINKS ----- */

  a {
    color: #1f76c2;
    text-decoration: none;
  }

  a:hover {
    color: #0085ff;
  }
}
