// * -----------------------------------------------------------------------------
// 11 Feb 2021 at 11:48:15
// General
// ----------------------------------------------------------------------------- */

// * App Component
// ----------------------------------------------------------------------------- */
.app-root {
}

.d-none {
  display: none;
}
