.app-nav {
  width: 100%;
  padding: $spacer-lg;

  /* ----- NAV ITEMS ----- */

  .sidenav {
    overflow-x: hidden;
  }

  // * DropDown
  // ----------------------------------------------------------------------------- */
  .dropdown-btn {
    width: 100%;

    color: $nsBlue-20;
    background-color: $nsBlue-110;
    @include font-size($font-size-body);
    text-align: left;

    padding: $spacer-md;

    border-radius: $default-radius $default-radius 0 0;
    cursor: pointer;
  }

  /* On mouse-over */
  .dropdown-btn:hover {
    transition: all 300ms ease-in-out;
    background-color: $nsBlue-120;
  }

  .dropdown-active {
    background-color: $nsBlue-110;
  }

  /* Dropdown container (hidden by default) */
  .dropdown-container {
    display: none;
    background-color: $nsBlue-110;
  }

  .dropdown-container a {
    display: block;

    color: $nsBlue-40;

    padding: $spacer-md;
    margin-bottom: $spacer-xs;

    text-decoration: none;
    @include font-size($font-size-body);

    border-radius: $default-radius;
    cursor: pointer;
  }

  .dropdown-container a:hover {
    transition: all 300ms ease-in-out;

    background-color: $nsBlue-130;
    color: $white;
  }

  .dropdown-container .nav-link-active {
    background-color: $nsBlue-130;
    color: $white;

    font-weight: $bold;
  }

  .link-title {
    padding-left: 5px;
  }

  /* Optional: Style the caret down icon */

  .fa-caret-down-wrapper {
    float: right;
    padding-right: 4px;
  }
}
