// * -----------------------------------------------------------------------------
// 3 Feb 2021 at 14:58:31
// Footer
// ----------------------------------------------------------------------------- */
footer {
  display: flex;
  flex-direction: row;

  background-color: $white;
  border-top: 1px solid $grey-20;

  padding: $spacer-md $spacer-lg;
}

.app-page-footer {
  color: $text-color;
  @include font-size($font-size-small);
}