// * -----------------------------------------------------------------------------
// 18 Feb 2021 at 12:55:09
// Filter
// ----------------------------------------------------------------------------- */

.sidebar-filter {
  background-color: $white;
  border: 1px solid $nsBlue-20;
  border-radius: $default-radius;

  padding: $spacer-md;
}

.filter-title {
  margin-bottom: $spacer-md;
  padding: 0 0 $spacer-sm 0;

  border-bottom: 1px solid $grey-20;
}

.filter-breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  @include font-size($font-size-small);

  margin-top: $spacer-sm;
}

.filter-breadcrumbs-item {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease;
}

.filter-breadcrumbs-text {
  @include font-size($font-size-small);
  text-decoration: none;
  white-space: nowrap;

  transition: 0.3s ease;

  &:active {
    color: $nsBlue;
  }
}

.filter-breadcrumbs-seperator {
  padding: $spacer-md 0;
}
