// * -----------------------------------------------------------------------------
// 3 Feb 2021 at 15:26:17
// Header
// ----------------------------------------------------------------------------- */
.app-header {
  height: 100%;
  color: $white;
  position: relative;
  transition: all 0.3s ease-in-out;

  .header {
    width: 320px;
    min-height: 100%;
  }

  .header-collapse {
    width: 80px;
    min-height: 100%;
  }

  .header-collapse .header-navbar-component {
    visibility: hidden;
  }

  /* ----- COLLAPSE EXPAND  ----- */

  .collapse-expand-button-wrapper {
    position: absolute;
    top: 104px;
    right: -15px;

    height: 32px;
    width: 32px;

    padding: 7px 8px;

    color: $nsBlue-80;
    background-color: $white;
    border-radius: 50%;

    z-index: 2;

    text-align: center;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .collapse-expand-button-wrapper:hover {
    color: $nsBlue-80;
    background-color: $nsBlue-20;
  }

  /* ----- APP HEADER CONTENT ----- */

  .header-content-wrapper {
    width: 100%;
    height: 100%;
  }

  .header-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* ----- LEFT CONTENT ----- */

  .header-content-left {
    display: flex;
    flex-direction: column;
  }

  // * Logo
  .header-company-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: $spacer-lg 0;
    cursor: pointer;
  }

  .header-company-logo-image-wrapper {
    width: 60%;
  }

  .header-company-logo-image-wrapper img {
    max-width: 100%;
  }

  // * Navbar
  .header-navbar {
    width: 100%;
    position: relative;
  }
}

// * Page Header
// ----------------------------------------------------------------------------- */
.app-page-header {
  position: relative;

  background-color: $white;
  border-bottom: 1px solid $nsBlue-20;
  box-shadow: 0 10px 30px 0 rgb(204 217 225 / 8%);

  .header-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 64px 56px;

    background-color: $white;
  }

  .header-pagetitle {
    grid-column: 1;
    grid-row: 1;

    height: 64px;

    border-bottom: 1px solid $grey-20;
  }

  .header-topbar {
    grid-column: 2;
    grid-row: 1;

    height: 64px;

    border-bottom: 1px solid $grey-20;
  }

  .header-breadcrumbs {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
  }

  .header-toolbar {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
  }

  // * Pagetitle
  // ----------------------------------------------------------------------------- */
  .pagetitle {
    @include font-size($font-size-lead);
    font-weight: $bold;

    margin-top: $spacer-lg;
    margin-left: $spacer-lg;
  }

  // * Topbar
  // ----------------------------------------------------------------------------- */
  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: $spacer-sm + 4;
    margin-right: $spacer-lg;
  }

  // * Language
  // ----------------------------------------------------------------------------- */
  .language {
    padding-right: $spacer-lg;
    display: flex;
    align-items: center;

    .app-header-language {
      padding: 0 $spacer-xs;
      color: $nsBlue-40;
      cursor: pointer;

      &:hover {
        color: $nsBlue-80;
      }
    }

    .app-header-language-active {
      color: $nsBlue;
      font-weight: $bold;

      background-color: $nsBlue-10;
      border-radius: $default-radius;

      padding: $spacer-sm;
      margin: 0 $spacer-xs;
    }
  }

  // * Breadcrumbs
  // ----------------------------------------------------------------------------- */
  .breadcrumbs {
    margin-top: $spacer-sm;
    margin-left: $spacer-lg;
  }

  .breadcrumbs-item {
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;
  }

  .breadcrumbs-text {
    color: $grey-60;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.3s ease;
  }

  .breadcrumbs-text:hover {
    color: $nsBlue;
  }

  .breadcrumbs-text-active {
    color: $nsBlue;
    font-weight: $bold;
  }

  .breadcrumbs-item-separator {
    display: inline-block;

    padding: 0 $spacer-sm;
  }

  /*  buttons  */

  .app-header-button {
    width: 100%;
  }

  .app-header-button-icon-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  .app-header-button-icon-wrapper:hover {
    transition: all 300ms ease-in-out;
    background-color: #e6e9ef;
  }

  // * User login
  // ----------------------------------------------------------------------------- */
  .app-header-user-avatar-image-wrapper,
  .app-header-user-not-login {
    width: 40px;
    height: 40px;
    border-radius: $default-radius;
    background-color: $nsRed-10;
    color: $nsRed;
    font-weight: $bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .app-header-user-not-login {
    background-color: $grey-10;
    color: $grey-80;
    font-weight: $bold;
  }

  .app-header-user-avatar-image-wrapper:hover,
  .app-header-user-not-login:hover {
    background-color: $nsRed-20;
    color: $nsRed;
    font-weight: $bold;
  }

  // * User menu
  // ----------------------------------------------------------------------------- */
  .app-header-user-menu,
  .user-menu {
    display: none;
    position: absolute;
    right: 24px;
    top: 56px;
    min-width: 320px;

    padding: $spacer-md;

    background-color: $white;
    color: $text-color;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    border-radius: $default-radius;

    z-index: 1000;
  }

  .user-menu-header {
    display: flex;
    flex-direction: row;

    padding-bottom: $spacer-sm;

    border-bottom: 1px solid $grey-20;
  }

  .user-menu-icon {
    height: 4rem;
    width: 4rem;

    margin-right: $spacer-md;
  }

  .user-menu-name {
    flex-grow: 2;

    @include font-size($font-size-lead);
    font-weight: $bold;
    color: $text-color;

    padding: $spacer-sm;
  }

  .user-title {
    @include font-size($font-size-small);
    text-transform: uppercase;
    font-weight: $normal;
    letter-spacing: 1px;

    color: $grey-60;

    margin-top: $spacer-sm;
  }

  .user-menu-logo {
    height: 100%;
    width: 100%;
    background: url("src/assets/images/logo-2.png") no-repeat;
    background-size: 100% 100%;
  }

  .user-menu-content {
    padding-top: $spacer-md;
  }

  .user-menu-content-item {
    display: flex;
    cursor: pointer;
    border-radius: $default-radius;

    padding: $spacer-md;
  }

  .user-menu-content-icon {
    @include font-size($font-size-lead);
    text-align: center;
    margin-right: $spacer-md;
  }

  .user-menu-content-item:hover {
    background-color: $grey-10;
  }
}
