// * -----------------------------------------------------------------------------
// 11 Feb 2021 at 12:38:28
// Login
// ----------------------------------------------------------------------------- */
.app-login {
  background: url("src/assets/images/bg.jpg") no-repeat;
  background-size: cover;
}

.page-content {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  justify-items: end;

  min-height: 100vh;
}

.login-panel {
  width: 100%;
  max-width: 560px;

  display: flex;
  flex-direction: column;

  background-color: rgba($black, 0.8);
}

.app-login-error {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: $spacer-xxxl 0;
}

.logo {
  width: 40%;
}

.form-container {
  display: flex;
  flex-direction: column;

  margin-top: $spacer-xxl;
}

.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-form {
  width: 80%;
  border-radius: 10px;
}

// * Form
.input-wrapper {
  display: grid;
  grid-template-columns: 64px auto;
  grid-template-rows: auto;
  grid-gap: 8px;

  align-items: center;

  background-color: $white;
  border-radius: $default-radius;

  margin-bottom: $spacer-md;
}

.input-wrapper .icon {
  grid-column-start: 1;

  background-color: $nsBlue-20;
  color: $nsBlue-80;
  border-radius: $default-radius 0 0 $default-radius;

  padding: $spacer-md;

  text-align: center;
}

.input-wrapper .field {
  grid-column-start: 2;
}

.field input {
  width: 100%;

  border: 0;

  font-family: $font-family-base;
  @include font-size($font-size-body);

  &:focus {
    outline: none;
  }
}

// * Links
.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.link {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto;
  grid-gap: 8px;

  width: 80%;

  background-color: #00273d;
  border-radius: $default-radius;

  margin: $spacer-sm 0;
}

.link-image {
  grid-column-start: 1;
  padding: 16px;
}

.link-text {
  grid-column-start: 2;
  justify-self: start;
  align-self: center;

  & div {
    @include font-size($font-size-small);
    color: $white;
    letter-spacing: 2px;
    text-decoration: none;
  }
}
