// * -----------------------------------------------------------------------------
// 17 Feb 2021 at 10:34:50
// Workspace
// ----------------------------------------------------------------------------- */

.element-workspace {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  background-color: $nsBlue;

  .element-workspace-page {
    flex: 1;
    overflow-x: hidden;
    background-color: $nsBlue-10;
    display: flex;
    flex-direction: column;
  }

  .element-workspace-page-content {
    flex: 1;
  }
}